[2018-03-07 18:17] huftis commented on #914
I also found this rather nice guide to writing in the ‘Material Design’:
https://material.io/guidelines/style/writing.html

I’ll try to take it into account when updating the strings. For example, the guide mandates ‘sentence case’ for titles, headings, labels and menu items, so I’ll change ‘Map Cache Size’ to ‘Map cache size’.

(Perhaps we could also think about a using a more easily understand w

[2018-03-07 18:22] rugk opened #957 "piste:difficulty quest"
### General
Affected tag(s) to be modified/added: [piste:difficulty](https://wiki.openstreetmap.org/wiki/Key:piste:difficulty/)
Question asked: **What the difficulty of this piste?**

### Checklist
Checklist for quest suggestions (see guidelines):
- [x] 🚧 To be added tag is established and has a useful purpose, e.g. maps see https://wiki.openstreetmap.org/wiki/Tag:route%3Dpiste#Maps, OsmAnd has a

[2018-03-07 18:27] rugk opened #958 "number/name quest for piste"
### General
Affected tag(s) to be modified/added: [piste:name](https://wiki.openstreetmap.org/wiki/Key:piste:name/)/usual name tag
Question asked: **What the name/number of this piste?**

### Checklist
Checklist for quest suggestions (see guidelines):
- [x] 🚧 To be added tag is established and has a useful purpose, e.g. maps see https://wiki.openstreetmap.org/wiki/Tag:route%3Dpiste#Maps, OsmAnd ha

[2018-03-07 18:29] rugk commented on #958
BTW I don't know whether `name` or `piste:name` is preferred. The original [proposal](https://wiki.openstreetmap.org/wiki/Piste_Maps) lists it, but iD e.g. does not show the `piste:name` but only allows editing `name` by default.

[2018-03-07 18:38] HolgerJeromin commented on #956
I dont think there are many objects which misses this info. But i have not checked it

[2018-03-07 18:41] HolgerJeromin commented on #957
I dont think there are many objects which misses this info. But i have not checked it

[2018-03-07 18:45] HolgerJeromin commented on #958
If the piste shares a highway osm object the name is not for the piste.

[2018-03-07 19:06] rindlerblabla commented on #957
And piste:type=nordic doesn't have difficulty specified. For piste:type=nordic it would make more sense to ask for grooming, oneway or whether it's lit.

[2018-03-07 19:28] rindlerblabla commented on #957
The reason why I edited my post is because piste:type=difficulty isn't as used in real life for piste:type=nordic as it for downhill, so I think nordic skiing should be excluded as there will be no hints in markers or anything else along the route.

[2018-03-07 19:40] matkoniecz commented on #809
See https://gitlab.com/fdroid/fdroidclient/issues/1310 (reported month ago, ignored by whoever maintains F-droid).

But there is a workaround:

[2018-03-07 20:26] matkoniecz commented on #956
https://overpass-turbo.eu/s/wNh - only 149 cases across the entire Europe, I doubt

[2018-03-07 21:02] rugk commented on #956
Uh, ok. Thanks for checking via the query. As said, taginfo alone could not give me a concluding result.

[2018-03-07 21:12] matkoniecz commented on #957
https://overpass-turbo.eu/s/wNq found 1000+ plus across Europe

[2018-03-07 21:17] rugk commented on #914
I think you cannot find a better word than cache. Also browsers use it.
You may, however, be able to avoid it by just stating that it deletes the _background map_ or so.

[2018-03-07 21:21] matkoniecz commented on #203
I am not planning to work on collecting data for "operators of XYZ", beyond collecting raw OSM data - but @ENT8R did it already.

[2018-03-07 21:23] rugk commented on #957
Okay, that seems to be enough.

[2018-03-07 21:31] rugk commented on #958
Okay, so for this quest that may not be a problem: the quest may only add `piste:name` and ignore ways with `name` tag, so there cannot be potential problems.

[2018-03-07 21:32] matkoniecz commented on #956
Overpass turbo wizard is quite nice for that - see https://wiki.openstreetmap.org/wiki/Overpass_turbo/Wizard

[2018-03-07 21:36] rugk commented on #956
Yeah, I know that, but the query for large areas takes forever. I think overpass is usually not intended for large queries there.

[2018-03-07 23:08] matkoniecz commented on #956
See https://wiki.openstreetmap.org/wiki/Overpass_turbo/Wizard#Timeout (I just added this section)

See https://wiki.openstreetmap.org/wiki/Overpass_API#Limitations and https://wiki.openstreetmap.org/wiki/Overpass_API#Introduction

Note especially `You can safely assume that you don't disturb other users when you do less than 10.000 queries per day and download less than 5 GB data per day.` and `Ov

[2018-03-07 23:21] rindlerblabla commented on #958
I think it's better to add a name to the route relation itself. piste:name is less common. As long as you don't add the name tag to different highways I don't see a problem.

[2018-03-08 07:55] rindlerblabla commented on #958
(That is for piste:type=nordic where the route can be shared with normal highways (paths/tracks). Don't think it will be a problem adding a name to piste:type=downhill even if it's not a relation.)

[2018-03-08 11:20] westnordost commented on #876
Okay, I will mark any change on the English translations as fuzzy for the other languages from now on.

But please remove the quotation marks in the other languages as well.

On 7 March 2018 18:54:37 CET, Karl Ove Hufthammer <notifications@github.com> wrote:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2018-03-08 12:23] HolgerJeromin commented on #958
Sled pistes are often footways, too

[2018-03-08 20:01] westnordost commented on #952
I have to concur with the other people who posted here. This is too problematic to implement as a quest, i.e. to find a heuristic first what a "photo worthy" object on the map would be.

So, I will close this.

[2018-03-08 20:01] #952 closed

[2018-03-08 20:23] huftis commented on #876
Yes, I’ll manually remove the quotation marks from the other strings. (But I still think it’s a bad and risky idea to second-guess other languages’ rules about punctuation and grammar.)

I’ve now done the changes for the French translation. It will probably take several days (or even weeks) to finish it for all the translations, though. The actual change is of course trivial (I have created a one-

[2018-03-08 20:25] TO-92 commented on #952
… leaving a broken link behind on OSM, or how would that be handled?

Of course anybody should always abide by the law, there is no need to tell people that. But then not everybody is a copyright expert.

Iceland for example has a limited freedom of panorama for non-commerical use only. Wikimedia Commons, however, does not offer a NC license. So before uploading a photo of a building or a statue y

[2018-03-08 20:35] ENT8R commented on #876
From the few times I used this editor, I would say that this is the easiest translation editor I've worked with so far. The UI is very simple and even non-experts can easily translate the app into their favorite language.

POEditor has Git integration as well...

POEditor does offer this too though it is very hidden in the settings...

POEditor does have this as well and this project uses this fea

[2018-03-08 20:58] huftis commented on #876
I think I have used *almost* all online translation tools that are, or have been, available (I’ve been translating free software for 15+ years), and I would agree that many of them are not very user friendly (and many have been quite buggy!). And I agree that the apparent simplicity of POEditor is a good thing. However, it doesn’t provide any features to help the translators provide high-quality t

[2018-03-08 21:56] westnordost commented on #953
I am sorry, there seems to be no easy solution for this that would justify the effort made. I tried a straightforward/recommended approach [similar to this](https://stackoverflow.com/questions/7557265/prevent-dialog-dismissal-on-screen-rotation-in-android#15729764), but it 1. wouldn't work (perhaps another bug in SC) and 2. had the sideeffect that any other dialog that was opened would close the o

[2018-03-08 21:56] #953 closed

[2018-03-09 07:26] RubenKelevra opened #961 "Crashes on multi-window usage"
Currently SC seems to be very unstable with multi-window usage. I've sent 2-3 crash reports to you.

Since there are some UI assumption which also break, since the window is differently dimensioned, maybe blocking SC from beeing used in multi-window mode would be the best solution for now?

Running Android 8.0 on a OnePlus 5T - full hd 18:9 screen  vertically

[2018-03-09 07:52] westnordost commented on #961
SC 4.x is quite unstable altogether whivh is due to unfixed crashbugs in some dependencies. I'll downgrade these for the 4.1 update.
I did not see anything related to multiwindow.

On 9 March 2018 08:26:34 CET, "@RubenKelevra" <notifications@github.com> wrote:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2018-03-09 09:18] mmd-osm commented on #956
The solution is pretty easy: leave out the bounding box and the query will finish in 600ms in this case!

See https://overpass-turbo.eu/s/wQf

[2018-03-09 09:20] mmd-osm commented on #956
Can you please remove the numbers on Wizard page and just link to the other page? Otherwise we have to maintain the limits on two different pages, which gets quickly out of hand.

[2018-03-09 10:11] rugk commented on #876
Maybe discuss this in a new issue as it is more or less unrelated to this one?

[2018-03-09 15:42] rugk commented on #63
Attention: News incoming.

Android P will be disabling HTTP connections in apps! https://android-developers.googleblog.com/2018/03/previewing-android-p.html

[2018-03-09 17:09] rugk opened #962 "Show manually created notes (with bottom left button) on map"
SC v4 does not show the manually created notes on the map, after creation. I think it should (just as a notes quest – the `?` icon) directly after creation, because of the following reasons:
* show visual feedback to the user (so they know it worked)
* allow users to "adjust" (add comments) to a thing, if they see something new, made a mistake, need to correct something, etc.
* maybe in the future

[2018-03-09 18:46] westnordost commented on #962
Well they don't see the solved quest neither.

[2018-03-09 20:05] rugk commented on #962
Yeah, but quests are a different thing. These do not need correction, these will not be recognized again by the user, these are just gone and they are even a different "flow" in the UI (the manual notes thing is an extra button).

I'd also have another argument from an UI perspective. Currently when the user creates such a note:
* in an "exiting" animation (:wink:) a quest-like-icon pops up from t

[2018-03-10 02:56] deerwood commented on #944
Counting down while uploading would also be nice to have. Especially if one has auto upload/sync disabled or set to WLAN only.

[2018-03-10 06:08] rugk opened #963 "No manual upload button when autoupload is disabled"
I just tried something and wonder how users should upload quests, when auto-upload is disabled?

The previous "upload now" button does not appear when the setting is disabled, so I wonder how that should work then.

[2018-03-10 06:15] ENT8R commented on #963
It is done via the upload button in the title bar:
![32813109-52ef2222-c95d-11e7-9fa9-5db913feadf4](https://user-images.githubusercontent.com/25306497/37238990-bd402560-2432-11e8-97a3-f6a2a022e723.png)
(The right button)
But this was already discussed in other issues so you should know that, should not you?

[2018-03-10 08:11] matkoniecz commented on #922
Ping @nmoyroud - see https://github.com/westnordost/StreetComplete/issues/922#issuecomment-369411770

[2018-03-10 09:55] goldfndr commented on #487
@matkoniecz those last two are the same, did you intend a different one?

[2018-03-10 09:59] matkoniecz commented on #487
I don't remember now - maybe I lost one, maybe not. I will edit post to remove duplicate.

[2018-03-10 18:38] ujos opened #964 "Copy speed limit value from roads nearby"
Could you please add option to copy speed limit from roads nearby? Similar to street names combobox.

In Poland speed limit is complicated expression and it is not convenient to type it manually from mobile phone.

[2018-03-10 20:47] TomJansen opened #965 "Retain zoom level after finishing a quest"
I like to zoom out a bit and see more of the map when doing quests. But now, after I click on and finish a quest, the app zooms in again (to the default zoom level). It would be better if the app jumped back to the zoom level it was in before.

[2018-03-10 20:52] TomJansen opened #966 "Option to disable the 3D view"
It would be nice if there was an option to the disable the 3D view and only have the eagle view (2D, directly from above). Right now, the app defaults to the 3D view and I have to swipe with two fingers to enable 2D view.

Thank you for this app.

[2018-03-10 20:55] TomJansen commented on #879
Really cool idea!

[2018-03-10 21:14] rugk commented on #966
Actually, you can just tap on the compass and it should disable 3d.
I don't know how one would do that with a two finger swipe.

[2018-03-10 21:17] rugk commented on #964
Complex expression? E.g.?
I don't even know how one can enter such an expression in sc. Can't you only enter numbers there?

[2018-03-10 21:20] TomJansen commented on #966
swipe up or down with 2 fingers

[2018-03-10 21:26] ENT8R commented on #966
I think having such an option in the settings is too specific and kind of contraproductive to the simplicity of the app... Nowadays nearly all applications with a map have the option to display a 3D map, so this is not something very special...

[2018-03-10 21:32] TomJansen commented on #966
It is true that almost every map has this, but with 3D view, one loses the overview and clarity that is needed with Streetcomplete

[2018-03-10 21:34] ENT8R commented on #966
But what speaks then against tapping on the compass to bring everything back to the normal view?

[2018-03-10 21:52] rugk commented on #963
Ah, so it does indeed work like that?
As you can see at #945 I did not expect to see that. It is kinda confusing, as you can see.
I did not really expect that this button does something and I also could not find out, as the feedback when clicked did not really indicate success.
There is an animation, yes, but it e.g. does not immediately count down or so.

So it could maybe just show a toast notif

[2018-03-10 23:34] ujos commented on #964
According to information on [Wiki ](https://wiki.openstreetmap.org/wiki/Key:maxspeed#Values) valid values for the `maxspeed` tag are:

* numeric
* `signals`
* `none`
* country_code:zone

There is also `maxspeed:conditional` tag. That is what I initially meant. In Poland, for example it can contain `60 @ (23:00-05:00)`.

[2018-03-11 01:45] #922 closed

[2018-03-11 01:47] westnordost commented on #963
See #944

[2018-03-11 01:47] #963 closed

[2018-03-11 07:50] ENT8R commented on #964
Sound like a duplicate of #353 to me...

As for the `country_code:zone`: you should already be able to do this with the checkbox right to the normal input...

[2018-03-11 07:53] ENT8R commented on #964
As for the `maxspeed:conditional`: this is a duplicate of #449

[2018-03-11 08:05] ENT8R commented on #879
BTW: If you only want to express that you think this is a good idea, you don't have to write a comment but you can also express your opinion through [Github Reactions](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/)

[2018-03-11 09:38] matkoniecz commented on #964
Implicit speed limit (there is no maxspeed sign and default limits apply) may be tagged by selecting "other answers" and "there is no sign option".

[2018-03-11 10:28] matkoniecz commented on #966
Blocked by #673

[2018-03-11 11:01] rugk commented on #966
This has nothing to do with the mapstyle.

[2018-03-11 11:07] matkoniecz commented on #966
Current mapstyle has 3D buildings in every map mode. As I understand this issue @TomJansen wants to disable this feature - and it requires ability to select one of available maps styles.

[2018-03-11 11:10] ENT8R commented on #966
But the other mapstyles (except the satellite style) will have 3D buildings too and you can rotate the map using two fingers swiping up and down even in the satellite style...

[2018-03-11 11:20] matkoniecz commented on #966
That is why it is a separate issue, as it requires

- adding ability to change map styles

- adding map style without 3D buildings

[2018-03-11 11:27] ENT8R commented on #966
First, 3D buildings were wanted (#183) and now we should remove them again? But why? I don't see a reason for that...

[2018-03-11 11:42] matkoniecz commented on #966
I guess that some people want them and some prefer to not have them.

I am not sure what is preference of @westnordost - one style (rejecting #673 and this)? Multiple selectable styles? Who would maintain list of styles?

[2018-03-11 12:32] goldfndr commented on #966
@matkoniecz I'm pretty sure that this issue is for having the tangram [Tilt](https://mapzen.com/documentation/tangram/android-sdk/0.9.0/com/mapzen/tangram/MapController.html#setTilt-float-) always be overhead (0), not for buildings to be rendered without height.

@rugk Regardless of compass glued or not, tilting is available for me, and the value doesn't change when I glue/unglue.

@TomJansen Are

[2018-03-11 13:58] forght commented on #966
I just found the tilt function through this post, I always just used the top down fixed north view until now and that ist default at startup.
As a see it now there are two possible startup modes:
- top down fixed north
or
- tilted fixed to compass
and switching from one two the other forces the camera to tilt.

Wouldn't it solve @TomJansen issue to save the default tilt independent from the chosen

[2018-03-11 14:13] westnordost commented on #966
I am not convinced that this option is necessary. If users feel that 3d buildings are obstrusive, then they can just look at the map from top down.

[2018-03-11 14:13] #966 closed

[2018-03-11 14:40] #330 closed

[2018-03-11 14:46] #917 closed

[2018-03-11 19:37] TomJansen commented on #966
I like to cycle and then I often fill in quests with Streetcomplete. Therefore the top-view is handy. With tapping the compass, the view is fixed to norths, which is not really handy while cycling. I can have the top view with the direction folowing thing by swiping with 2 fingers down, but this is nearly impossible to do while cycling.

[2018-03-11 20:09] ENT8R commented on #966
Did you try to tap on the location request button in the lower right corner and then tapping on the compass icon? Shouldn't this then automatically let the map rotate while the view is a 2D view?

[2018-03-11 20:13] ENT8R commented on #966
Alright. Nevermind my last comment. I just tested it and what I described does only enable the 3D view. Maybe this issue can be fixed by introducing a third state to the compass icon?

[2018-03-12 05:43] gappleto97 opened #969 "Mild rendering error"
When I go to specific zoom levels on circular pools they begin to morph into star shapes. Pretty sure that this isn't on you, but I dont know how to determine if this is an upstream issue or not. Or who upstream is, for that matter.

![example](https://i.imgur.com/kpBTMAG.png)

_Sent from my Pixel 2 using [FastHub-Libre](https://github.com/thermatk/FastHub-Libre/)_

[2018-03-12 05:45] gappleto97 opened #970 "Add building roof rendering"
Currently all buildings render with a flat roof. This results in some odd things, like the Superior Dome appearing as a cylinder. It would be cool if buildings had their roof accurately rendered. It would be even cooler if this could happen live as you complete the relevant quest.

[2018-03-12 08:15] matkoniecz commented on #970
See https://github.com/westnordost/StreetComplete/blob/master/CONTRIBUTING.md

That links to https://github.com/ENT8R/streetcomplete-mapstyle

[2018-03-12 08:16] matkoniecz commented on #969
See https://github.com/westnordost/StreetComplete/blob/master/CONTRIBUTING.md

That links to https://github.com/ENT8R/streetcomplete-mapstyle

[2018-03-12 08:18] matkoniecz commented on #969
It is also reported and closed as https://github.com/ENT8R/streetcomplete-mapstyle/issues/46 - so either it was fixed and not released yet or this problem is back.

Anyway this issue should be closed and if fix for https://github.com/ENT8R/streetcomplete-mapstyle/issues/46 is already included - it should be reported on https://github.com/ENT8R/streetcomplete-mapstyle/issues

[2018-03-12 09:33] conrad-heimbold commented on #122
I can really recommend "Tileless Maps" ( https://github.com/TilelessMap/TilelessMap ). It uses vector instead of raster images. The databases are based on postgis and have the twkb format.
Tileless maps can also be used offline.

[2018-03-12 09:41] conrad-heimbold opened #971 "[feature request:] use postgis databases instead of raster images for maps"
"PostGIS is an open source software program that adds support for geographic objects to the PostgreSQL object-relational database. PostGIS follows the Simple Features for SQL specification from the Open Geospatial Consortium (OGC)."

Benefits:
- rendering seems to be faster than with raster images (only tested in Osmand and TilelessMap)
- you can easily select which layers to show and hide (less d

[2018-03-12 10:11] matkoniecz commented on #971
For start, this app is not using raster images.

[2018-03-12 10:13] matkoniecz commented on #971
Also, is it possible to painlessly integrate database based rendering with tangram-es? How updating map data would work?

Without answers to this questions this proposal is incomplete and of very limited usefulness.

[2018-03-12 10:19] rugk commented on #122
Okay, but this would mean switching to a completely different rendering library, as far as I see. So this is not really realistic.
Also vectors can sometimes be bad for performance reasons (OsmAnd uses vectors AFAIK), but for the simple mapstyle of SC, it would likely not be so bad.

[2018-03-12 10:55] matkoniecz commented on #970
Yeah, but it was faster to copy link.

[2018-03-12 11:02] rugk commented on #122
New issue for Tileless Maps: https://github.com/westnordost/StreetComplete/issues/971

[2018-03-12 11:02] rugk commented on #971
@conrad-heimbold Good you opened a new issue for that (from the side effect that this library also allows offline maps, see https://github.com/westnordost/StreetComplete/issues/122#issuecomment-372245677).

So my comment from there:

Also vectors can sometimes be bad for performance reasons (OsmAnd uses vectors AFAIK), but for the simple mapstyle of SC, it would likely not be so bad.

[2018-03-12 11:59] ENT8R commented on #970
I already thought about that feature some time ago, but I don't even know whether this would be possible at all using tangram-es... For more information: see this issue of the JS version of tangram: https://github.com/tangrams/tangram/issues/316
I don't think that this would be easy to do and maybe even needs changes in the source of tangram-es...

[2018-03-12 13:15] ENT8R commented on #103
I could do again some country-wise analysis like I also did for #203 and #570 if this is wanted...

[2018-03-12 15:20] lenod commented on #850
I can reproduce this on android 7.1.2, on a new SC install (4.0).
A restart of the app or the phone does not fix this.
The icons have appeared at some point but this is an exception.
This may have to do with the fact that the phone is rather old and has rather low memory (1.5GB RAM).

[2018-03-12 15:51] ENT8R commented on #969
Right. @westnordost said in https://github.com/ENT8R/streetcomplete-mapstyle/issues/46#issuecomment-364710299

[2018-03-12 16:25] ServusWorld commented on #103
Another way to solve the problem that the user is overwhelmed by the options would be a search box (as in MAPS.ME).
But of course that would be very effortful ...

[2018-03-12 17:03] rugk commented on #103
A search box would basically just be, what i said earlier:

I.e. not a picture quest, but the street name quest, in a different way.

[2018-03-12 17:22] TO-92 commented on #950
It's back to normal operation with 4.1. Thanks!

[2018-03-12 18:29] lenod commented on #850
Note: forcing GPU rendering of 2D objects in android developers options seems to fix the issue for me.

[2018-03-12 23:16] TO-92 commented on #962
Yep, that happened to me, too. I find it really confusing that you cannot see your own notes. It might even lead users to think "oh, that did not work" or "I could swear I left a note here last week, but maybe that's just my imagination" and then add the same note multiple times.

(As an aside talking about duplicates, I also think the button to leave a note should only be shown when the user has

[2018-03-13 08:28] rugk commented on #724
BTW can anyone reproduce the fact that this delay does _not_ happen for notes (?) quests? I just had a case, where all icons were hidden as usual after solving a quest, but one icon remained: The ? one.
BTW, I have the option to show all notes quests enabled in the settings.

[2018-03-13 08:47] rugk opened #973 "Automatically opened next quest for object hides in between/opens twice"
Split out of https://github.com/westnordost/StreetComplete/issues/947

Best reproducible with street quests. When you solve one thing, another thing (e.g. street surface quest) pops up and you answer it (if you are fast). But after you did so, it is hidden again and shown, so you need to re-answer that.
This results in the fact that I often already solve (click the answer of) the new quest when sh

[2018-03-13 08:58] rugk commented on #962
And BTW, when it is implemented all own notes may be shown with the "!" icon (even when opened in another tool), so users do not get confused.

[2018-03-13 09:01] rugk commented on #947
To keep one bug in a scope, I opened a different issue for the bug that the quest is shown twice: https://github.com/westnordost/StreetComplete/issues/973

Maybe if the performance is better and this issue there is solved, it is really all to solve this UX problem here. Currently, this feature just often annoys me, but maybe it is really just because I have to answer quests again and have to wait

[2018-03-13 09:40] goldfndr opened #975 "Add hasName to speed limits quest?"
I was taking StreetComplete 4.1 out for a time, and this was the first time I used it for speed limits (keeping mindful of #813 in USA) and road surfaces. I was a bit surprised that, while the road name was mentioned in the road surface quest, it wasn't in the speed limit quest.

Would a solution be as simple as adding a hasName test and another string? (I'd try it myself, but I'm a bit discourage

[2018-03-13 10:41] rugk opened #976 "Parking fee is not directly asked after solving parking access quest"
STR:
1. Solve parking type, and, afterwards, parking access quest.

What should happen:
Parking fee quest should popup automatically.

What happens:
The auto-quest-opening only works for other quests (e.g. parking access), but not for the parking fee quest.

SC 4
LineageOS 14.1

[2018-03-13 11:07] matkoniecz commented on #975
Is it really, really, really old computer or broken system (for example old unsupported Windows with miner malware?)?

Because it sounds like something going wrong - I have very old laptop (Lenovo G550) and SC builds within minutes.

[2018-03-13 11:09] rugk opened #977 "Quest (icons) often behind building in 3d view"
I know, this may be a hard problem, but often quests are behind a building in the 3d view.

Such as here:
![](https://user-images.githubusercontent.com/11966684/37338217-112f0552-26b7-11e8-842e-d762003bd3a5.jpg)

As you can see, the quest is more or less shown "on the building", and the user does not know that it is behind of the building.

Here you can see it from the other side:
![](https://user

[2018-03-13 11:10] matkoniecz commented on #976
What was the answer in access quest? Parking fee is not asked for private parkings ( https://github.com/westnordost/StreetComplete/blob/7c593607bbf1797ca05ac62a288d54ad86492e92/app/src/main/java/de/westnordost/streetcomplete/quests/parking_fee/AddParkingFee.java )

[2018-03-13 11:12] matkoniecz commented on #977
Why we would want to that?

[2018-03-13 11:12] rugk commented on #976
Ah, yes, forgot to mention. Of course, it was public.

No, actually the icon did appear on the map, but the quest did not auto-open. I could reproduce this in several cases.

[2018-03-13 11:14] rugk commented on #977
Because the position is wrong. The quest is not in the building or something about the building, but behind it. In this case this may be logical (as bike parkings are unlikely to be in/about a building), in others it can be confusing.

Another option may be to show them a bit heigher (to the top), so one can see these do not point on the building, but behind.

[2018-03-13 11:15] rugk commented on #975
Yes, see  [previous discussion](https://github.com/westnordost/StreetComplete/issues/950#issuecomment-370915138).

[2018-03-13 11:16] rugk commented on #975
BTW upgrading to Android Studio 3.0 won't hurt. 😄

[2018-03-13 11:25] rugk opened #978 "Unclear UI of implicit/explicit permission for sidewalk/cycleways"
You can select these two things in StreetComplete for the bicycle quest:

![using](https://user-images.githubusercontent.com/11966684/37338846-ef55923c-26b8-11e8-9a0a-d1bef28705e3.jpg)

AFAIK the right thing is not (legally) possible - in Germany, at least. The reason is just that there has to be a sign (or something else) allowing you to use a sidewalk with a bike. (this is "explicit", IMHO) With

[2018-03-13 11:45] matkoniecz commented on #978
For example In Poland one is allowed to cycle on footways wider than 2m along roads with maxspeed greater than 50 km/h.

[2018-03-13 11:57] westnordost commented on #978
Blue 🚶sign with a white rectangular sign below it, saying "🚲 free". I'm sure you've seen them.

On 13 March 2018 12:25:10 CET, rugk <notifications@github.com> wrote:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2018-03-13 13:00] rugk commented on #978
Okay, such a thing does not exist in Germany. BTW, do you think all users know this and select the right thing? They also have to estimate the width of the way.

Of course, yes. [This one](https://www.elektrobike-online.com/know-how/pedelec-und-fahrrad-wissen/wichtige-verkehrsschilder.736938.410636.htm#10):
![](https://www.elektrobike-online.com/sixcms/media.php/6/UB-Verkehrsschilder-_2000px-Zusat

[2018-03-13 17:54] goldfndr commented on #975
Android Studio 2.3.3 is the last version compatible with Windows XP, upgrading to Android Studio 3.* can't be performed.

[2018-03-13 18:47] rugk commented on #975
Generally, BTW, you may have a look at switching the OS. You would not want to use WinXP nowadays, alone the missing security updates. Many Linux distro's or so are likely less resource-heavy and you can install Android Studio 3.0, BTW.

(But it's getting of-topic here…)

[2018-03-14 13:21] hochwasser commented on #636
I tried my luck on the compass. I simplified the implementation an put a low pass filter in.
If this does not solve the issue, it should be easy to adapt it to a kalman filter.
It does rotate on my device correct.

[tangram.zip](https://github.com/westnordost/StreetComplete/files/1811192/tangram.zip)

[2018-03-14 13:36] ENT8R commented on #636
Maybe you can simply create a PR for this? Or do you don't know how to do this and want this to be done by somebody else?

[2018-03-14 13:40] hochwasser commented on #636
Hello ENT8R,
what is a PR?
This code should be tested with other devices.  The tilt stuff was not clear to me.

[2018-03-14 13:42] ENT8R commented on #636
A PR is the short term for "[Pull Request](https://help.github.com/articles/about-pull-requests/)".

[2018-03-14 22:37] #961 closed

[2018-03-14 22:40] westnordost commented on #964
Won't implement. See @matkoniecz and @ENT8R. Also, it would be quite complex to do and the gain would be minimal (user doesn't need to type two characters on his keyboard) while it might even have a negative effect (user just clicks "apply apply apply" without actually checking).

[2018-03-14 22:40] #964 closed

[2018-03-14 22:41] westnordost commented on #965
It zooms in to the quest so that you can see where it is exactly and the dimensions of it.

[2018-03-14 22:41] #969 closed

[2018-03-14 22:43] westnordost commented on #970
As @ENT8R said, that would be up to the people at tangram(-es). But tangram's future is unclear, I think they have barely enough active people to take care of bugs and the sort. I don't think a feature like that is realistic unless they get an influx of motivated C++ programmers.

[2018-03-14 22:43] #970 closed

[2018-03-14 22:49] westnordost commented on #975
You built a custom version just to re-enable the maxspeed quest in your area? Phew. You know, I am interested to enable this quest as well in the US, but I do not feel entitled to define the necessary tagging scheme for that. Isn't there some active (US) community members who would be willing to discuss and come up with somethin in the forum/mailing list/other?

Regarding the feature proposal: Wou

[2018-03-14 22:51] westnordost commented on #976
From the description, looks like a bug. Though, a low-priority one because the auto-opening of the next-quest is somewhat of a stepmother-feature right now. I.e. I am not sure if we want to keep it in the future.

[2018-03-14 23:04] westnordost commented on #978
Hold your horses, mate.

When the sidewalk is segregated between cyclists and pedestrians, it is a **cycleway track**, what else? If a surveyor sees something segregated, then he will click on the cycle track icon. Why do you think a user would click on the "must/can use sidewalk" button?

No, only if there would be a blue sign with a cycle on it. The quest does not ask for the (blue) signs, it as

[2018-03-14 23:09] westnordost commented on #978
By the way, the second case ("SIDEWALK_OK") also and in particular covers those cases where the sidewalk is broad enough or undeveloped enough to be usable by cyclists and in reality also used that way (can only be found out through survey/local knowledge).

In Germany, that would be in certain rural areas where i.e. the sidewalk is sometimes not even paved but just a (unsigned) way beside the roa

[2018-03-15 00:12] goldfndr commented on #975
 I didn't build a custom version for maxspeed in US. I simply didn't invalidate the cache of downloaded quests in the released version. I think I did try copying the databases (using a root explorer) to the debug version I built to test the library bug and it crashed at startup (no GUI) so I ran the debug clean. With Android Studio 2.3.3, the debug vs release toggle isn't displaying.

Here in Wash

[2018-03-15 00:17] lenod commented on #850
Correction: it doesn't.

[2018-03-15 05:35] HolgerJeromin commented on #103
A least vespucci allows multiple values as
cuisine=burger;pizza
And has a localization mapping of values

[2018-03-15 07:33] goldfndr commented on #975
Well, maybe there isn't as much of a collection of fiefdoms as I thought, maybe the cities are posting citywide speed limits that happen to match the state limits in an effort to remind, not to override. I'll try to do some more spot checking.

[2018-03-15 09:22] rugk commented on #103
Sure, that would be possiblewith a picture quest, too.

[2018-03-15 09:25] rugk commented on #850
I also experience this, e.g., when SC first crashes for some reason and then, at the next start, this issue happens.

[2018-03-15 09:47] westnordost commented on #975
The app does not need to know the unsigned speed limits to tag correctly but only which factors contribute to which implicit speed limits apply (i.e. built-up area vs rural area)

On 15 March 2018 01:12:22 CET, Richard Finegold <notifications@github.com> wrote:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2018-03-15 09:59] rugk commented on #965
That's not the issue. The issue is this (arbitrary numbers):
0. App started with zoom level 12.
1. User zoomed around to level 8.
2. Clicks on quest -> zooms in, as expected, to level 15, e.g.
3. User solved quest

What happens: App zooms to level 12.
What should happen: App zooms to previously remember zoom level, i.e. level 8.

[2018-03-15 10:48] rugk commented on #978
Okay, so if I understand it correctly, this quest:
* must not tag the permission for bikes
* must not tag, whether the track is segregated or not

So the second thing it currently violates, because `SIDEWALK` tags this.

So this?
![bike](https://user-images.githubusercontent.com/11966684/37456734-5bddd31e-2840-11e8-9d02-bc02d2885f57.png)

So, IMHO a segregated bicycle/pedestrian would look this th

[2018-03-15 12:41] westnordost commented on #978
No, the user will click on "Radweg"

On 15 March 2018 11:48:03 CET, rugk <notifications@github.com> wrote:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2018-03-15 17:22] rugk commented on #978
Ah… Of course, you are right! :man_facepalming:

This also explains the segregated=no because when bikers can use the footway, there obviously of course is no sidewalk.

So okay let's get the back to the origin issue. The difference between "explicitly" and "implicitly" using the sidewalk.

[2018-03-15 17:40] westnordost commented on #978
I would merge these two options into one "cyclists can and may use sidewalk" but I think it is not possible to tag it that way.

Basically explicitly-sidewalk means that it is usually obligatory for cyclists to use it (i.e. blue sign) while the other should just mean that cyclists informally (or formally, see "bicycle frei" sign) use it.

On 15 March 2018 18:22:29 CET, rugk <notifications@github.c

[2018-03-15 19:06] rugk commented on #978
And here we are at the problem that we do not want to tag the legal status of these tracks.

Maybe the German translation with "dürfen" in the implicit case is bad, because this implies some must/must not/allowed/legal stuff. On the other hand the left thing only
Maybe rather use ":bike: may drive here" or ":bike: could drive here" or :bike: is not forbitten to drive here". Huh, kinda hard this fo

[2018-03-15 19:08] rugk commented on #978
BTW another problem: ":bike: free" does not exclude a real bike lane or so.

[2018-03-15 19:17] westnordost commented on #978
I think there is already a ticket for that. Labeled as [Enhancement], low prio (for me).

For cyclists, by the way, the left and right quite makes a difference, at least in Germany. Because the left would usually be obligatory, so the cyclists may not use the road. This is usually a bad thing.
The right picture on the other hand just speaks about the eligibility (and legality) of the sidewalk to b

[2018-03-17 13:03] my-na-me opened #980 "Add update menu item to about window"
Hi together.

I usually don't use a google-play account. That’s why I’m happy to be able using Streetcomplete in general by installing direct apk file. For apk download source I’m using link[1].

I would like to have a new additional menu item at "About StreetComplete" menu for manual update/download to link [1] in case of potential Streetcomplete version update.
So maybe similar to menu items whi

[2018-03-17 13:05] TomJansen commented on #980
You can use fdroid as an alternative to the play store, it only contains open-source apps. StreetComplete is in fdroid too.

[2018-03-17 13:31] ENT8R commented on #980
I agree with @TomJansen. This would also not work for users which have installed the app via Google Play or F-Droid and then use a different APK with a different signature from the Github Release section. (The user would need to deinstall and then reinstall the app instead of simply updating it...)

[2018-03-17 13:56] my-na-me commented on #980
so it sounds like there 3 diffrent type of user groups:
a) direct apk installer
b) fdroid user/updater
c) google play user/updater
Maybe the request should be modified in some way

"deinstall and then reinstall the app instead of simply updating it"
It seems the same I have to do when I switch to fdroid...

[2018-03-17 13:58] westnordost commented on #980
Yeah, if you want automatic updates, you can use F-Droid.

[2018-03-17 13:58] #980 closed

[2018-03-17 13:58] ENT8R commented on #980
I don't know how this can be done... You can have both Google Play and F-Droid installed on your phone, so this can not be differenciated...

[2018-03-17 14:34] my-na-me commented on #980
No, I don't what to have automatic updates. I'm checking for updates periodically by myself:
"https://github.com/westnordost/StreetComplete/releases"
I want to have more convenient check procedure by using a internal the app-about item which sends me direct to "https://github.com/westnordost/StreetComplete/releases" so I can check manual if there is a new apk available. The final installation I wa

[2018-03-17 21:10] rugk commented on #980
@my-na-me You don't get automatic updates by default completely. (And BTW, why would not you want automatic updates?)
So the solution to your problem:
1. Go to https://f-droid.org/. Download and install the F-Droid APK.
2. Search for Streetcomplete in the app (or click [this link](https://f-droid.org/packages/de.westnordost.streetcomplete/)) and install the app.
3. Unfortunately, you need to setup

[2018-03-17 21:28] HolgerJeromin commented on #980
I think a list of bookmarks in the phone browser could be an idea for @my-na-me too :-)

[2018-03-18 06:49] claudiush commented on #692
@westnordost Can you clarify what you mean by "clearing the cache"? Are we talking about the app's cache via the Android settings? Wouldn't that also reset my issue counter?

I just ran into the same issue as TobiasMie: Was mapping with StreetComplete in a new area I'm vacationing in. Found streets and buildings missing and added them via JOSM. Updating quests in SC I get them to show on a very ou

[2018-03-18 07:13] ENT8R commented on #692
Yes, it's the normal cache of the app which can be deleted via the android settings. Your quest counter won't be reset if you just clear the cache. This is saved somewhere else.

---

The reason why the solution above might not work for you is that we switched the mapserver back in January because the old (Mapzen) sadly shut down (#747). This means that we use now a different server which is not a

[2018-03-18 19:46] westnordost commented on #798
Success! (AddMaxSpeed is disabled in US, but not in Mexico)

![device-2018-03-18-204524](https://user-images.githubusercontent.com/4661658/37570215-61605ffa-2aed-11e8-951c-bb3904e33413.png)

[2018-03-18 20:33] rza31 opened #981 "add "No fee, but time restricted" answer-option to fee quest"
### General
Affected tag(s) to be modified/added: [Key:maxstay](https://wiki.openstreetmap.org/wiki/Key:maxstay)

### Checklist
Checklist for quest suggestions (see guidelines):
- [x] 🚧 To be added tag is established and has a useful purpose
- [x] 🤔 Any answer the user can give must have an equivalent tagging (Quest should not reappear to other users when solved by one)
- [x] 🐿️ Easily answerable

[2018-03-18 21:11] westnordost commented on #981
Would be independent of the fee quest. I.e. there are parking lots where it does not cost a fee but there is a maxstay, is there not?

Though, what to tag if there is no maxstay? Think of countries which are not regulated that much in that way or simply in small towns / on the countryside.
Also, for these cases, it might be somewhat spammy to always answer "no, no maxstay here". What is the gain t

[2018-03-18 21:14] ENT8R commented on #981
See also #102 which was rejected

[2018-03-18 21:19] westnordost commented on #981
Ah okay, so it is a duplicate then.

[2018-03-18 21:24] MrSunday334 commented on #981
If its part of the parking fee quest, it would only be asked if no value for the parking fee is existing. So no tag spamming is possible?
Is there a fee: Yes, No, No (but only limited time) etc.

[2018-03-18 22:20] #798 closed

[2018-03-18 22:21] westnordost commented on #798
Finally got this off my todo list.

In the last 1-2 weeks, I worked on this: https://github.com/westnordost/countryboundaries

[2018-03-18 22:39] westnordost commented on #978
So, what about htis now?

[2018-03-19 06:39] ENT8R commented on #981
But then a completely different tag (maxstay=*) would be set than for the other answers (fee=*) which would mean that every parking which already has a maxstay value set would be excluded from the parking **fee** quest

[2018-03-19 07:41] rugk commented on #798
Awesome! 🎉

[2018-03-19 07:52] rugk commented on #978
You do not have a [low prio tag](https://github.com/westnordost/StreetComplete/labels).

And BTW, no. I [cannot find this issue](https://github.com/westnordost/StreetComplete/issues?q=is%3Aissue+cycleway+label%3Aenhancement+is%3Aopen).

Also it is just about the cycleway quest here. A simple icon change for Germany, at least. That is what I'd propose.

BTW, I'd really prefer a real cycleway (which

[2018-03-19 14:13] rza31 commented on #981
For example <code> maxstay=1 @ (08:00-18:00)</code>, you can stay 1 hour between 8 and 18.
A fee isn't necessary .
It must be set the tag **maxstay** instead **fee**.
maxstay=no shouldn't possible trough the app. See also [taginfo=maxspeed](https://taginfo.openstreetmap.org/keys/maxstay#values).

[2018-03-19 14:41] ENT8R commented on #981
Which was already proposed in #102 and rejected...

[2018-03-19 18:07] rza31 commented on #981
The tag maxstay is used over all 5 continents. With mapping on the ground the tag can be easy verified by the traffic sign.
At parking areas without traffic sign no maxstay can be tagged,  don't allow maxstay=no.
Parking with parking disc is only an other type of fee=no. The owner allows free parking for a specific time.

[2018-03-19 19:50] rugk commented on #981
So you assume that if it costs a fee no maxstay is set? (Sounds reasonable, IMHO)

[2018-03-19 20:50] hochwasser commented on #636
ENT8R it is not only done with a PR. A friend helped me with this (thanks elrond).
You can find the PR here https://github.com/westnordost/StreetComplete/pull/982

[2018-03-19 23:14] westnordost commented on #981
Can someone give a summary what the concrete suggestion would be then and why it would make sense?

[2018-03-20 08:43] rugk commented on #981
First, I'd would adjust the title. I don't know what "Disk parking" is. Replace it with "maxstay".

Suggestion: Add the answer "No, but time-limited" to the parking fee quest.
Why it makes sense: See the points listed at https://github.com/westnordost/StreetComplete/issues/981#issuecomment-374347125

[2018-03-20 08:44] westnordost commented on #981
Nevermind, I understand now:
Add an answer-option called "No fee, but time restricted" and show a time dialog like for the (to-be-implemented) postbox quest.

[2018-03-21 16:33] matkoniecz commented on #873
Thanks  a further research now I can say that asking about fee makes sense for museums and I withdraw my negative opinion.

I also plan on making "does it cost a fee to visit xyz" PR for museums (after fixing issues in my construction PR).

[2018-03-21 17:16] rugk commented on #873
And for the museum we already have an icon (for https://github.com/westnordost/StreetComplete/issues/890), so only a small coin etc. on the icon may be needed to have a good icon for it.

[2018-03-21 18:43] matkoniecz commented on #873
leisure=beach_resort has fee tag in 10% of cases ( https://taginfo.openstreetmap.org/tags/leisure=beach_resort#overview http://overpass-turbo.eu/s/xdk ), description on wiki has "Entry may also require payment of a fee". For simplicity I would ask only if object has a name (only 757 is currently without name - http://overpass-turbo.eu/s/xdl ).

[2018-03-21 18:45] matkoniecz commented on #873
Note that of 4400 tourism=gallery only 44 has currently fee tag ( http://overpass-turbo.eu/s/xdm https://taginfo.openstreetmap.org/tags/tourism=gallery ).

[2018-03-21 19:13] matkoniecz commented on #873
Vast majority of gardens has no fee tag.

Overall I propose to add quests for tourism=museum, leisure=beach_resort and maybe for tourism=gallery. Some generic coin icon would be useful.

[2018-03-21 22:37] rugk commented on #873
The icon is already there for the parking fee quest.

[2018-03-22 18:40] seb-1204 opened #984 "allow to select osm language that is displayed for quests"
My phone language is set to english.
I am adding details in areas where english is not the primary language.
E.g. when adding opening times the app asks 'what are the opening times of <text in non english>'.
It would be good it the preferred osm language tag can be set in preferences.
The app should then load the en. Name tag (if it is set to english) and not the local one e.g. fr, ru ,ko.

[2018-03-22 20:36] LivInTheLookingGlass opened #985 "Request: Ask levels for each building part"
### General
Affected tag(s) to be modified/added: [building:levels](https://wiki.openstreetmap.org/wiki/Key:building:levels)
Question asked: **How many levels are in this part of {building name}?**

### Checklist
Checklist for quest suggestions (see guidelines):
- [x] 🚧 To be added tag is established and has a useful purpose
- [x] 🤔 Any answer the user can give must have an equivalent tagging (Que

[2018-03-22 20:45] ENT8R commented on #985
Kind of related, but not the same: #579

[2018-03-22 20:55] gappleto97 commented on #985
I do think that we should do that, but having the global levels value is technically correct, so it makes more sense to me to ask it on a per-part basis before trying to push that sort of thing.

[2018-03-22 21:04] gappleto97 commented on #975
In regards to custom versions, I'm confused. I have the F-Droid version and have invalidated my quest cache multiple times since the new release, but I still have a lot of speed limit quests. I like that I still have them, but it sounds like this was not the intent. Can you confirm?

[2018-03-22 21:07] ENT8R commented on #975
Invalidating the quest cache does **not** mean that the quests get deleted... The area of the quests is just marked as not downloaded after you invalidated your quest cache. So you have to redownload all quests again in that area...

[2018-03-22 21:09] gappleto97 commented on #975
It also asked these questions when I went to areas that I had never used this app in before. For instance, it asked them when I was in Las Vegas, but I had never opened the app in that area before. Same thing for Minneapolis.

[2018-03-22 21:21] ENT8R commented on #975
Well that is strange... Which version do you exactly use? `4.1`?

[2018-03-22 22:47] rugk commented on #984
Okay, so if I understand it correctly:
* phone: English
* StreetComplete UI: English
* Country: non-English
* Name shown for quests, where element is named: localized name (i.e. French or so)

If that is the case, this is, IMHO, clearly a bug. It does not need an extra settting for that. IMHO the app should always fetch/use the names of your preferred locale (if available) and not the one where th

[2018-03-22 22:53] Etua commented on #203
For now about half of the list is processed: https://gist.github.com/Etua/fd58cdd9392d7beb2eb2b3829d2c8850

[2018-03-22 23:12] gappleto97 commented on #975
Im on 4.1 now, but I think it was 4.0 at the time. I know it was 4.* because it was the first time I saw the building height rendered.

[2018-03-23 07:58] HolgerJeromin commented on #985
A complex building can be made up from arbitrary shaped `building:part` for 3D modeling (See "Aachener Dom"/"Kölner Dom").
I dont think a user is able to answer this quest from the outside with the given precision the rendering has.

[2018-03-23 08:09] matkoniecz commented on #985
How one may distinguish building:parts that have levels and ones that have not (for example columns)?

Given that building:part is supposed to be for ultra-detailed 3D mapping - it it useful to provide levels count? I think that in this case height would be necessary.

In some places 3D mappers sliced buildings in absurd amount of parts (I may find some examples if that would be useful).

[2018-03-23 10:34] westnordost commented on #984
It is not a bug, the app simply shows whatever is seen in the name tag. This could be changed, but that the name is displayed at all has the reason to help you find it, i.e. that you can spot it by looking for the sign.

What is the reason that you want to see it in the language set on your phone? Do you have an example of where it actually happened to you where it would have been more helpful tha

[2018-03-23 10:38] rugk commented on #984
Ah okay, so it does not even handle `name:xy` (like `name:de` or so). Okay, then call it enhancement…

[2018-03-23 10:51] westnordost commented on #985
Hmm, two comments about that:

1. It is not common for building:parts to have anything else as value than "yes". But with just "yes" tagged, it may be a kind of building (part) that does not reasonably have any levels

2. Building parts are usually only used for 3D-mapping, thus, it is very rare to find building parts that have neither a levels nor a height set because the person who adds these bu

[2018-03-23 10:54] ENT8R commented on #985
[Taginfo](https://taginfo.openstreetmap.org/keys/building%3Apart#values) says that about **80%** of all values of `building:part` is tagged only with `yes`. And another 10% are `building:part=roof` which has AFAIK very often only one level...

[2018-03-24 12:54] PanierAvide commented on #551
Still something that should be done ? We have an interest for a local group of having a quest for setting bus stop names, so I can work on this.

[2018-03-24 14:10] rmikke commented on #235
Hi again.

There is [a new tool for mismatched names](http://81.190.124.187:31337/QA_map/mismatched_street_names.html) (in Poland and should be treated as alpha version for now), so I've got a showcase now.

See how many cases of street names typed differently it shows. It is a real problem. Could we return to the concept of mutual matching street names in name=* and addr:street=* ?

I can open a

[2018-03-24 14:34] matkoniecz commented on #235
Have you analyzed how many wrong names were added using StreetComplete?

[2018-03-25 07:12] fnordson opened #987 "App not downloading map anymore"
My app is not downloading new map tiles anymore.
I have the newest app version from F-Droid, I have Android 7.1.1
Tried: deleting cache, restarting app, restarted phone, WiFi/Data connection.

There is a map available if I zoom out quite far but this one is missing tiles also and not downloading.
Quests are available. GPS is working too.

Any ideas what I could do?

[2018-03-25 07:17] ENT8R commented on #987
How far did you approximately zoomed in? Can you see the house numbers? And did you also waited some time to see what happens then? Maybe your connection is not the best and can't handle large map tiles...

[2018-03-25 07:25] ENT8R commented on #987
You are right. I just tested it and there is really no map at some kind of zoom level. Maybe this is an issue with the tile server @Akasch?

[2018-03-25 07:38] Akasch commented on #987
Yes It is a problem with the server, I am on it to resolve it. The Database crashed because the Hard disk was full. Should be up again soon.

[2018-03-25 08:28] Akasch commented on #987
Working again.

[2018-03-25 08:51] fnordson commented on #987
Can confirm. Everything working now. Thank you :)

[2018-03-25 08:51] #987 closed

[2018-03-25 12:03] rmikke commented on #235
Probably not possible:
1. the tool for incoherent names works only for Poland now,
1. It does not catch typos {except for missing diacritics),
1. I can't see a way to check how many of them are made with StreetComplete.

On the other hand:
1. StreetComplete has suggestions for street names in name=* for highways already,
2. adding support for addr:street seems to be much easier task than creating

[2018-03-27 10:04] westnordost commented on #985
According to info on taginfo, only about 3% of all elements tagged as `building:part` have a tag that would make them theoretically eligible for this quest. But about 85% of all elements tagged with `building:part` already have either a height or levels tagged, thus making this quest theoretically eligible for only 0.45% of building parts, or 2500 elements.
Theoretically, because it is also legal

[2018-03-27 10:04] #985 closed

[2018-03-27 10:05] westnordost commented on #984
Well, as said, I would want to hear a good reason to change the current behavior.

[2018-03-27 13:55] rugk opened #988 "Use GPS for getting direction when moving"
Sometimes the blue circle points directly in the wrong direction when I am moving fast (tram e.g.). In such a case, why not better do it like most navigation systems and get the direction from the change of the GPS position, where you can easily calculate the direction from.

And when you are moving in a fast way, that is much more accurate than the compass/gyroscope or similar things.

[2018-03-27 14:36] rugk opened #989 "Quest: Is bus/tram stop elevated?"
### General
Affected tag(s) to be modified/added: [???](https://wiki.openstreetmap.org/wiki/Key:)
Question asked: **Is bus/tram stop elevated?**

The "tactile paving" quest for SC is already well known and likely quite useful. However, I think we can map more useful information for some other ♿️/ 🚲/... users.

E.g. whether the tram stop/bus is lowered, so you can go in easily. Some tram operators

[2018-03-27 14:39] rugk opened #990 "Show disabled quests in quest list in a disabled state"
I'd propose to show the disabled quests in the quest list, which are disabled, because of a country restriction/metadata. Just at the bottom.

The reason is that we maybe never will have complete metadata/all data for each country. Now, if a user from that country notices, that there is a quest, which is disabled in their country, but thinks this is wrong and the quest should be enabled, they can

[2018-03-27 16:18] ENT8R commented on #989
The tag you are looking for is maybe [`kerb=*`](https://wiki.openstreetmap.org/wiki/Key:kerb)...

[2018-03-27 16:25] rugk commented on #989
Actually, I think, I have to correct the wording here. It is not actually a kerb, but an elevation, so you can get from the tram/bus platform/stop directly into the tram/bus without having to lift your wheelchair or whatever…

[2018-03-27 16:28] westnordost commented on #988
the blue triangle is showing not the movement direction but the view direction.

[2018-03-27 16:28] #988 closed

[2018-03-27 16:30] westnordost commented on #990
It is not shown at all currently that a quest is disabled for any given country. It appears as if it is enabled in the list.
But yes, it would make sense to somehow show that this quest is disabled in the country in which the user is currently.

[2018-03-27 16:35] westnordost commented on #989
This is a place where there is no kerb.

![bus](https://static.independent.co.uk/s3fs-public/styles/story_medium/public/thumbnails/image/2014/12/12/22/moore2.jpg)

Still, a bridge is necessary. Even more so without a kerb. So, what sense does it make to ask for a kerb if it is irrelevant for whether a person in a wheelchair can enter without aid?

[2018-03-27 16:40] rugk commented on #989
No, no kerb. Did not meant that.

It should just ask for the elevation, so easier getting in is possible. Also without a bridge, often. Howver some trams even have bridges, which move out automatically at the station.

So let's not care about the kerb or bridge. It's the elevation, which the quest has to ask for.

[2018-03-27 16:50] rugk commented on #988
Mhh okay, but that does not work properly there, often. So it might be an idea to change that if you move fast… But mhh, maybe not.

[2018-03-27 16:52] rugk commented on #990
Uh, did not know this. So that is bad… :laughing:

SO IMHO it should:
* be greyed out
* "pinned" at the bottom (i.e. listed at the bottom and not movable)
* somehow show a message (e.g. when tapped) that explain why it is disabled/shown like that

[2018-03-29 08:06] matkoniecz commented on #984
I have no experience in using in situation like this but I expect to prefer names as displayed on signs (so name rather than name:my_language).

[2018-03-29 19:22] HolgerJeromin commented on #990
The "hiding" does only work when you are never on holiday and not living at a country border.

The quest could come active than and needed to be sorted at any time.

[2018-03-30 16:18] #894 closed

[2018-03-30 23:12] westnordost commented on #973
I found a problem there. I think it should be fixed now.

[2018-03-30 23:13] #973 closed

[2018-03-31 12:39] westnordost commented on #85
The implementation is basically done, but:

[2018-03-31 13:35] Rudloff opened #992 "Crash on Android 4.2"
Hello,

I'm trying to use StreetComplete 4.1 on an old Android 4.2.2 phone but it always crashes after a few seconds.

Here is what I get in logcat:
[code]

[2018-03-31 14:09] westnordost commented on #992
This looks like a tangram-es issue. You'd need to post the stacktrace there.

[2018-03-31 22:32] TobiasMie commented on #944
Or simply show a toast message.

[2018-04-01 11:41] westnordost commented on #992
So I'll close this here.

[2018-04-01 11:41] #992 closed

[2018-04-01 12:04] westnordost commented on #989
This quest is missing the point.

An elevation _may_ make it more convenient to enter but only _if_ the height of the elevation is the same as that of the bus entrance - which is not tagged in OSM.
Also, the elevation makes no statement about the much more important information whether the means of transport accessible at that stop take people in wheelchairs _at all_. Compared with that informatio

[2018-04-01 12:04] #989 closed

[2018-04-01 12:06] #971 closed

[2018-04-01 12:08] westnordost commented on #947
Two things have changed now:
1. opening a quest is much faster now, should be almost instantaneous - thus, opening the next quest as well
2. #973 should be fixed

So, I'll close this issue.

[2018-04-01 12:08] #947 closed

[2018-04-01 14:33] rugk commented on #989
Hehe, yeah, it's likely very location specific. At least in my area buses and trams have sometimes at some bus stops this elevation. And of course, it "is elevated" should mean: The elevation is the same as on the stop.

[2018-04-01 20:06] anttitelio opened #993 "Undo for notes missing"
In issue #116, it became obvious that undo is a useful feature, but seemingly it hasn't reached the new note adding functionality. I currently have an unnecessary note pending for upload, but I can't cancel it anyhow.

[2018-04-01 20:35] westnordost commented on #993
Notes are not part of the undo-feature and would be a major refactor to enable this. Even then, it would naturally only work for notes that have not been uploaded yet, something that would only be relevant for users that disabled the auto-sync in the options. Additionally, this behaviour would be difficult to communicate to the user.
So, I will not do this, sorry. You can simply upload your note a

[2018-04-01 20:35] #993 closed

[2018-04-01 23:43] westnordost commented on #981
Eh, what am I saying. This has nothing to do with a time dialog. It should be a duration dialog.

[2018-04-02 13:36] stefanb commented on #63
A request to http://www.westnordost.de/streetcomplete/banned_versions.txt
currently makes a temporary http redirect (302) to wint.global, which (I think) is not desired.

[2018-04-02 15:06] rugk commented on #63
Uh, wtf. That seems to be the hoster or so.
Maybe the domain expired, @westnordost??

Because it also happens at the main domain:  http://www.westnordost.de

[2018-04-02 17:40] stefanb commented on #63
whois reports some changes recenlty:

This is the same day @westnordost assigned this ticket to himself
Domain holder and admin contact name and surname still matches the one of @westnordost, so it looks it is still in the right hands.

Technical contact and zone admin is _WINT.global GmbH_, likely a hosting provider.

[2018-04-02 19:30] rugk opened #996 "Overhaul contributing documentation"
As contributing gets increasingly important for (any big FLOSS project over time, but of course also for) StreetComplete, I think the docs for that need to be adjusted a bit.

I noticed this when changing things for https://github.com/westnordost/StreetComplete/pull/995, which I consider is a first step.

Things, which need to be changed, IMHO:
1. Unify the location of contributing information. Cu

[2018-04-02 19:38] TomJansen commented on #965
yes, what @rugk said is what I meant

[2018-04-02 19:44] stefanb commented on #996
All of it should be included in CONTRIBUTING.md which is then linked for users before they submit PRs.
https://help.github.com/articles/setting-guidelines-for-repository-contributors/

An example here: https://gist.github.com/PurpleBooth/b24679402957c63ec426

@rugk, this is a personal repository and github does not support assigning rights to others, but it is easy to create an organisation where

[2018-04-02 21:12] rugk commented on #996
@stefanb I don't know how you got on the topic of rights, but the topic is discussed in https://github.com/westnordost/StreetComplete/issues/928. (feel free to upvote :wink:)

Just one line: Maybe you got to this, because you can assign me then. AFAIK/The last time I looked team vs. personal repos make no difference. (Still AFAIK) GitHub introduced the feature you can assign the OP (original poste

[2018-04-02 22:16] westnordost commented on #996
As far as I remember, I didn't really write any part of CONTRIBUTING.md. Anyway, I am all fine with your suggestions, @rugk.

[2018-04-02 22:19] rugk commented on #996
Okay, still need answers to the questions where I added `/to @westnordost?`, because I have no experience with that.

And, as said, any other requests are also fine.

[2018-04-03 05:13] stefanb commented on #996
@rugk clarification: i meant "rights" as in "access rights" or "access level", triggered by

https://help.github.com/articles/access-permissions-on-github/
It seems I was wrong claiming that it is not possible to assign Access permissions on personal repositories (as this one is). It is possible, but is limited compared to organizations.

[2018-04-03 12:37] rugk commented on #63
Uh, I am stupid. Of course the mail server is also not available, so my mail to `…@westnordost.de` could of course also not reach him. :laughing:

[2018-04-03 12:40] Haikuch commented on #63
sometimes mailserver is different to webserver, even if its the same domain, so it could have worked though :)

[2018-04-03 13:31] westnordost commented on #996
One gets this option when joining the project on POEditor.

Nothing official.

No special behavior.

[2018-04-03 19:27] 1ec5 commented on #813
It sounds like either `maxspeed:type` or `zone:maxspeed` would be a good way to tag the sort of “citywide unless otherwise posted” speed limit signs that are often displayed at the entrances to small towns. In many states, each village, town, city, and (in some cases) neighborhood can have its own implicit speed limits set by local ordinance (e.g., `US:OH:HAM:Loveland:residential`).

[<img src="ht

[2018-04-03 20:12] rugk opened #997 "Icon for bus stop shelter quest should have a roof inside"
…similar to the "bicycle parking covered".

Currently I do not really know what type of quest I can expect when I tap that icon. It's always just "some quest about bus stops".

[2018-04-03 20:17] rugk commented on #997
If a small line as in the "bicycle parking covered" is okay, you can assign that to me. I'll do that.

[2018-04-03 20:18] rugk commented on #996
Thanks for your replies. BTW, I just rechecked in another repo, where I have access, one can assign the issue creator to issues on GitHub, so @westnordost – better do so.

[2018-04-03 20:21] rugk opened #998 "Require an unique icon for each quest"
Currently the official stance of SC/@westnordost is that an "unique icon for each quest" would be nice.

And, yes, it would be nice, but IMHO it is really a fundamental thing for SC and it's users.

So I advise to change the guide to require such a difference. And if it is just the background color, as for the wheelchair acessibility quests, such a small change is enough.

With a small change (htt

[2018-04-03 20:21] rugk opened #999 "Icon for bicycle parking quest should show many bicycles behind each other"
"How many bikes can be parked here?" should have an icon variant, so it can be differentiated from the "What is the type of this bicycle parking?" quest.

I propose multiple bikes arranged behind each other (just two or three).

I'll take this one, if it is ok.

If that is done we have an unique icon for each quest. I think that's how it is supposed to be. (see https://github.com/westnordost/Stree

[2018-04-03 20:27] rugk commented on #998
I think as a user story one can see best why this is useful:

As a user of SC I want to have one icon for each quest (and only one), because I want to know what quest I am about to be asked/solve and recognize/remember that quest when clicking on an icon.

So it's all about convenience and user's behaviour of remembering things and the desire to answer quest fast. When users need to think what typ

[2018-04-03 20:44] westnordost commented on #997
I think it only makes sense if the bus stop icon would otherwise be used for several quests.

[2018-04-03 20:50] westnordost commented on #999
The bicycle pictogram is already quite/too detailed, duplicating it in the quest icon would not look good/clear.
Ideas: same as bicycle parking covered icon but instead of the roof, another bike

[2018-04-03 20:51] westnordost commented on #998
I find not that it is a hard requirement (as in I will not merge PRs). I make most of the icons anyway, so making this a hard requirement would be weird.

[2018-04-03 20:51] #998 closed

[2018-04-03 21:05] rugk commented on #999
Actually that's what I mean. I'd also imagine a small gap between the lines of the two biokes, so one can see these do not belong together, but are two ones. That makes it a bit more like a pictograph.

[2018-04-03 21:06] rugk commented on #997
It is, we have three quests with bus stops now. All three ask other things about bus stops. One of the quests shows only a bus and not what it actually asks for. So that's weird, IMHO.

[2018-04-03 21:29] westnordost commented on #997
Fair enough.

[2018-04-04 22:11] westnordost commented on #813
Absolutely.
Though, maybe not `maxspeed:type=implicit`, because obviously, this is already taken/defined. But could be `implicit_maxspeed=yes`, or maybe even `maxspeed=implicit` or whatnot.

After discussion in the talk-us mailinglist, I think though that it is necessary to pitch it on a worldwide scale (talk-mailinglist, forums).

[2018-04-04 22:41] westnordost commented on #63
[http**s**://www.westnordost.de/streetcomplete/banned_versions.txt](https://www.westnordost.de/streetcomplete/banned_versions.txt) 🎉

Something went wrong during the domain name transfer, so westnordost.de including my email address was not reachable over Easter and beyond. It looks like it is fixed now.

What is interesting is, that now one after another, the emails from the last days start to ar

[2018-04-05 00:38] stefanb commented on #63
This is normal SMTP behaviour - when the sender server fails to reach the target server it will keep retrying in increasing intervals until the sending server finally gives up (normally in few days) and notifies the sender with an error report message. Depending on how long your mail server was misconfigured and how long the senders were trying you might have lost some messages. https://tools.ietf

[2018-04-05 05:55] rugk commented on #63
Also did you all notice one thing? HTTPS is there! So this is fixed!

…okay, only the URL in StreetComplete still needs to be changed, I think.

[2018-04-05 07:25] stefanb commented on #63
@rugk, oh, that I overlooked, tnx for pointing it out!

@westnordost, it might still be worth considering putting `banned_versions.txt` into github hosting as suggested by @prmtl for:
* transparency (full audit log, other people with git commit access can change it if needed)
* stability (github has better uptimes, as experienced with the recent private domain outage)
* privacy (app's "call-home"

[2018-04-05 10:03] westnordost commented on #63
Nah, I want to keep independent of github and use it just as a forge. Now that the connection is https, though, it is more difficult to follow why and what the app calls home. Personally, I'd find it worse though if an app calls home to github than to the personal domain of the app author.
But since it is all open source, it's all not a problem.

[2018-04-05 10:04] #63 closed

[2018-04-05 12:13] rugk commented on #63
Also for the "StreetComplete quest"/survey thing we might need connections to the personal sever of @westnordost anyway in the future, BTW.

[2018-04-05 15:51] #85 closed

[2018-04-05 15:51] #888 closed

[2018-04-06 09:00] Mannshoch opened #1001 "Crashes and Double question"
I did a little hiking and tried to use Streetcomplete on It. At first I had the Problem that Streetcomplet dont asked me any Question beside missing streetnames and in some rare situation the surface. After I moved the Question for Streetnames from top priority position to the lowest I got a huge amount of Questions.
But now I had the Problem, that if I answered some surface question I got double

[2018-04-06 09:25] rugk commented on #1001
The "double opening" of a quest has been reported in https://github.com/westnordost/StreetComplete/issues/973 and is fixed in the next release.

The reason why SC shows you only a few quests when started [is explained in the FAQ](https://wiki.openstreetmap.org/wiki/StreetComplete/FAQ#Why_does_StreetComplete_show_so_few_quests_when_I_first_start_the_app.3F).

As for the crash report, I think someon

[2018-04-06 11:24] rugk opened #1003 "Run unit tests automatically"
You could use Travis CI (or other services) to run the unit tests automatically (for each PR, e.g.), so contributors (and you :wink:) see if they break something.

[2018-04-08 15:11] rugk opened #1006 "Also label declined quests with "quest" (and new "accepted quest" label)"
Ref https://github.com/westnordost/StreetComplete/pull/1005#discussion_r179950571:

Also we may need to introduce a new tag then, so we can mark quests as "accpeted". (just a green "accented quest" would do) Then we can have really ~three~ four states:

* "quest" + open = a quest to be discussed/no consensus reached
* "quest" + closed = a quest, which has been declined
* "quest" + open + "accepted

[2018-04-08 15:50] exploide commented on #351
When this is blocked by the building type quest, why wouldn't "*has no housenumber*" option hand over to the building type quest to specify a better value for `building=*` instead of leaving a note?

[2018-04-09 08:40] RubenKelevra commented on #63
Why not store this file in the git repo, just downloading it from GitHub from the version with the tag currently installed? 🤨

[2018-04-09 08:43] RubenKelevra commented on #961
@westnordost well, I've sent some crash reports to you via the report function, it might not read that way, but it can be easily reproduced on my device. That's why I asked to just forbid the usage, which other apps, like Netflix do.

[2018-04-09 08:46] RubenKelevra commented on #961
I have to update my statement, just saw the new 5.0b1, this bug has actually been fixed in it. 🙂

[2018-04-09 08:52] RubenKelevra opened #1007 "Regression: wrong boundary detection (wrong signs shown in Germany)"
In v5.0b1 a wrong type of maxspeed sign is shown, well within German borders.

![](https://i.imgur.com/rVyoFIM.jpg)

[2018-04-09 08:57] RubenKelevra commented on #1007
The bikelane markings look wrong too. They are usually white not yellow in Germany!

![](https://i.imgur.com/GTf5h0h.jpg)

[2018-04-09 09:26] westnordost commented on #1007
I cannot reproduce this on my phone at that location. What is your android version, language and device?

[2018-04-09 09:28] westnordost commented on #1007
Do you have Android Studio installed?

[2018-04-09 11:33] matkoniecz commented on #1006
What is the benefit of this change?

[2018-04-09 11:34] westnordost commented on #1007
Could you please download, install and start the attached Android application on your device (rename .zip to .apk), zoom into the location where the two screenshots above happened and click on the map there? What country code is shown for these locations?

[countryboundaries-debug.zip](https://github.com/westnordost/StreetComplete/files/1889647/countryboundaries-debug.zip)

[2018-04-09 11:37] matkoniecz commented on #1007
Can you share the location? I would test whatever I am able to reproduce.

[2018-04-09 11:39] westnordost commented on #1007
@matkoniecz The first is here https://www.openstreetmap.org/way/154904063

[2018-04-09 11:49] matkoniecz opened #1009 "Add "About OpenStreetMap", add more info in "About StreetComplete""
App currently has "About StreetComplete" with some technical info.

I think that this program is directed also at people unaware how exactly OSM works, maybe it would be a good idea to add some additional explanation

- basic info about OSM (directed at people with nearly no knowledge about it)
- additional, more involved info how StreetComplete works (or maybe just a link to OSM wiki in "About St

[2018-04-09 11:56] matkoniecz commented on #1007
I am unable to reproduce reported behavior.

[2018-04-09 11:59] matkoniecz commented on #1007
BTW, where yellow cyclelane and MAXIMUM are supposed to be appearing?

[2018-04-09 12:03] matkoniecz commented on #905
@RubenKelevra Can you give examples of notes created using StreetComplete that should be discouraged by this warning? I think that it is problem big enough to justify time to create and maintain something that will be just irritating for 99% of users (and probably be ignored anyway be people creating notes like that).

[2018-04-09 12:11] matkoniecz commented on #213
My plan is to

- ask for addr:housenumber
  - without addr:street
  - without addr:place
  - with named road nearby

Still, it is necessary to provide option "This address is not assigned to a named road, settlement name is used instead" that will allow to set "addr:place".

Both addr:street and addr:place should have suggestion pool populated by nearby streets and places (or maybe nearby addr:str

[2018-04-09 12:15] westnordost commented on #1007
Yellow cycle lane should appear in Switzerland, MAXIMUM in Canada.

[2018-04-09 12:17] ENT8R commented on #1007
AFAIK they should appear in the United States and maybe even some other countries...

[2018-04-09 12:26] rugk commented on #1007
Uh, but that is really bad then as these positions are far away. :laughing: How can it detect one position for one quest and a position on the other hand of the globe on the other?

Also is not this an issue with https://github.com/westnordost/countryboundaries? So could not the OP try to reproduce with the [sample app](https://github.com/westnordost/countryboundaries/tree/master/sampleapp)? (easi

[2018-04-09 12:29] matkoniecz commented on #1007
Thanks, for me everything works normally (MAXIMUM in Canada, yellow cyclelanes in Switzerland, what I would expect in Poland...)

[2018-04-09 12:47] rugk commented on #1009
Expanding "About Streetcomplete" for this would be okay, IMHO. Just a part like "StreetComplete depends/uses/contributes OpenStreetMap" and then all stuff you mentioned…

Note that for:

the FAQ in the OSM wiki has already enough information? So a link to the FAQ in the app would likely not hurt. :smiley:

[2018-04-09 12:52] rugk commented on #1006
Before:
* I know quests, which are accepted.
* And I know, whether these have been implemented.
* I do not know, which quests have been declined when searching with labels.
* Thus I cannot easily filter all issues here by type: enhancement/bug/"new quest" are basically the types here

But some quest suggestions would get no tag at all, just because they were not accepted.
That means contributors c

[2018-04-09 13:12] matkoniecz commented on #1009
I though about explanation clear for somebody unaware about OSM beyond "good idea related to maps, something like Wikipedia and Google maps".

[2018-04-09 13:29] matkoniecz opened #1010 "integration tests are prone to failing with java.net.SocketTimeoutException"
It applies to both add_housenumber and construction group of integration tests.

This tests sometimes fail with `de.westnordost.osmapi.common.errors.OsmConnectionException: java.net.SocketTimeoutException: failed to connect to overpass-api.de/178.63.11.215 (port 443) after 45000ms: isConnected failed: ETIMEDOUT (Connection timed out)`

It is happening despite overpass turbo operating without any i

[2018-04-09 13:43] matkoniecz commented on #1003
@rugk Can you give an example of project that runs continous integration involving Android emulation?

[2018-04-09 14:30] RubenKelevra commented on #1007
Yeah sure it's within the boundaries of Wuppertal, NRW, Germany

[2018-04-09 14:44] RubenKelevra commented on #1007
So, here's the requested test:

![](https://i.imgur.com/FOt7MJD.jpg)

![](https://i.imgur.com/QeTyGVE.jpg)

Both applications at the same location, just retested. And reproduceable for me.

[2018-04-09 14:49] RubenKelevra commented on #905
Well, users usually want to add missing features to the map, so if you see something and you don't find this feature rendered they might add a note like "here's a shop called Rumpelkiste". Which might already mapped, but is not rendered in SC.

[2018-04-09 15:35] westnordost commented on #1007
Okay, so it is not a problem in the countryboundaries library but in the (Android) resource selection in StreetComplete. This makes the bug not critical, as the bug is only in display.

I will try to reproduce it on an Android 8.0 emulator.

Do you have Android Studio installed?

[2018-04-09 15:35] matkoniecz commented on #905
But is it really happening? I think that adding highly obnoxious warning, just because MAY add useless note is a poor idea.

Given that no POIs are rendered I expect that only extreme minority would make this kind of mistake and that anyway vast majority of such notes would be added by people who spotted something new in their neighborhood (so such note would be anyway useful).

Such warnings shou

[2018-04-09 16:12] francois2metz commented on #1007
Same here in France. The sign here are different than the screenshot.
![screenshot_20180409-180659](https://user-images.githubusercontent.com/86659/38509220-9442ef60-3c21-11e8-9683-8aeda8d48a4c.png)

[2018-04-09 16:33] matkoniecz opened #1011 "Maps no longer updating on new vector tile server, out-of-date with quests"
Yes, #835 is back and #747 continues to cause problems.

Firstly, thanks to @Akasch for his great work in setting up a new vector tile server for rescue StreetComplete from the demise of Mapzen.

I am opening this issue to mention that as the server is not updating at the moment (and I'm sure it is probably not trivial to do so easily or cheaply), and therefore the map is no longer up-to-date with

[2018-04-09 16:36] matkoniecz commented on #1011
I tested it by reinstalling app (what purges data) and downloading area where I changed well-visible data over 10 days ago ( https://www.openstreetmap.org/way/134071005#map=17/50.07755/19.93830 in that case ).

From what I know data was supposed to be updated continuously, what worked for some time and stopped.

I am not sure is it possible that data update will return in any form (even limited on

[2018-04-09 16:52] westnordost commented on #213
Don't forget conscription numbers, street numbers and house names.

And this is the only option if only a conscription number is specified. No idea about conscription+streetnumber, would need to look into the wiki for how it is exactly.

Would make sense, but not required for a PR to be accepted. The suggestion pool for street names is already there. The one for place names would need to be implem

[2018-04-09 17:03] westnordost commented on #1009
So what would be the text?

[2018-04-09 17:09] westnordost commented on #1001
So is this fixed in v5.0-beta1?

[2018-04-09 17:10] westnordost commented on #1007
Can reproduce on Android 8.0

[2018-04-09 17:56] goldfndr commented on #905
At least a couple of notes have been created due to ENTR8/streetcomplete-mapstyle#55. Like [1345405](https://www.openstreetmap.org/note/1345405) and [1345413](https://www.openstreetmap.org/note/1345413) (both by the same person). The notes created this way are only detectable by searching for lut.im (if they have a photo) because StreetComplete is not mentioned.

[2018-04-09 18:00] matkoniecz commented on #905
In that case warning also would not be useful, as roads are generally displayed...

[2018-04-09 20:30] HolgerJeromin commented on #1003
https://docs.travis-ci.com/user/languages/android/

[2018-04-09 21:32] rugk commented on #1003
That's not strictly an example, but likely a good doc. :smile:

But there are also enough examples, [as I assume](https://github.com/search?utf8=%E2%9C%93&q=android+travis&type=). (there are a lot test projects and stuff like that)
But realistically the docs should be enough to setup it. :smiley:

[2018-04-09 21:36] #1007 closed

[2018-04-09 21:38] westnordost commented on #1006
But it means more work for me.

[2018-04-09 21:39] westnordost commented on #1010
Well I also noticed some hickups on overpass-api.de today.

[2018-04-09 21:41] rugk opened #1012 "Mention StreetComplete in manually created notes"
In https://github.com/westnordost/StreetComplete/issues/905#issuecomment-379839031 we discovered SC does not add some string to manually created notes. IMHO, this is a must-have.

One just needs to find out. That is a good thing both for the SC development and for OSM mappers, as they then know how one collected the data they want to add (e.g.) via a note. (so one can e.g. be quite assured it was

[2018-04-09 21:41] westnordost commented on #976
Does this still appear for v5.0-beta1?

[2018-04-09 21:43] rugk commented on #976
Could not test the beta, because the stable has the same name – and even though they have different signatures (which is good, I don't want to upgrade my stable version) – Android seems to decline to install that version.

[2018-04-09 21:48] westnordost commented on #1012
I don't. The feature is the same as leaving a note on the openstreetmap.org website and also uses similar wording. The feature on the website also does not add any string to the user's message.

Putting #StreetComplete into each and every "free text" note (not speaking of "leave a note instead"-Feature) might come across like an advertisement.
Instead, StreetComplete correctly sets the http user a

[2018-04-09 21:57] #685 closed

[2018-04-09 22:01] RubenKelevra commented on #1007
@westnordost well, that was more a peak than the mean. So 80% of the time it's between 0.150 and 0.800 ms. But sometimes it's a bit above 2ms and in CH I saw values above 6ms for the first 3-4 positions, than it dropped. Overall the speed seem to improve after the first several locations in a country, looks like a kind of catching works here to improve it.

Overall, the delay feels longer in the a

[2018-04-09 22:28] matkoniecz commented on #1010
I encountered similar issue before in a different project and it was caused by network library terminating connection too early (timeout for connection was lower that timeout in an overpass query).

It may be also preferable to retry connection after pause rather than report failure (brittle tests currently are not too horrible, but it is a bit irritating and random failures would make #1003 utter

[2018-04-09 22:30] westnordost commented on #1007
Yes, it feels slower because of that fading-in-fading-out box (it's called a toast in Android-sprech).

Always the resources for the country the quest is displayed in should be selected. With the fix, this is now the case also for newer Android versions.

[2018-04-09 22:31] RubenKelevra commented on #1012
Well, notes created a bit trouble and confusion, because I missed details. I think we might not need to add an "ad" but details the user creating have, but the reader don't.

Example:

I see a street, click on the task for surface, but the way is too long and in reality the surface change.

I leave a note: In the south it's different than in the north, this way needs to be split.

The reader of th

[2018-04-09 22:32] matkoniecz commented on #1006
What sounds like the best way to kill this project. At least I see no significant overall benefit here.

From my experience at https://github.com/gravitystorm/openstreetmap-carto - there is some benefit from labelling all issues, including declined/wontfix labels but it also takes plenty of time. Taking in account both - it is not bad idea, but it is not something That Must Be Done.

So I think th

[2018-04-09 22:36] westnordost commented on #1012
Why do you not click on "Can't answer" to leave a note in that case?

[2018-04-09 22:42] RubenKelevra commented on #905
@matkoniecz yes, this is really happening.

A different example:

https://github.com/westnordost/StreetComplete/issues/844#issuecomment-364649539

Maybe we should display it on the first creation of a note freely on the map, and a "dismiss for this session" button. But it's really important to add this information.

SC have a huge potential to be the first editor by newbies. I've showed it to 3 pe

[2018-04-09 22:44] RubenKelevra commented on #1007
... which is great. This solution meet exactly my expectations :)

[2018-04-09 22:46] westnordost commented on #905
It'd also be possible to have a checkbox within this warning dialog to _never_ show this message again. And, it would also be possible to i.e. only show this checkbox on the Xth time the dialog was shown.

[2018-04-09 22:53] RubenKelevra commented on #1012
I did, but sometimes the note is added very near to a crossing, makes it hard to spot what the user creating it meant. That's why a ID/name would be nice.

The task I solved or tried to, as SC user isn't added by SC to the note. So as a user creating it I know what I'm talking about, but the user which needs to solve the task might be completely puzzled, because he might not know exactly why I add

[2018-04-10 02:43] RubenKelevra commented on #905
I like this second approach, maybe 10 times is a good start? So in 10 sessions the dialog need to be closed before the user is able to hide it permanently. In this case we're sure, he probably read it more than one time.

[2018-04-10 02:48] RubenKelevra commented on #905
Another thing is, notes just created don't appear on the map. And refreshing don't load a demo note I've just created either. There seems to be a somewhat substantial database delay, so writing them to the local cache after creation would be nice. :)

[2018-04-10 03:07] RubenKelevra opened #1013 "one-way residential street do not show up with bicycle quest"
I found a bicycle lane which I seemed to have overseen before, so I looked at SC and it showed no quest.

I've tooked a look at the data with Vespucci and it revealed no tag for bicycle lanes.

I've voided the cache for quests, just activated the bicycle lane quest and reload the data. Still no quest-popup.

The street is a quite usual 4 way residential street with a center divider, that's why it'

[2018-04-10 03:20] RubenKelevra opened #1014 "Allow one side mapping of bicycle lanes at a time"
This might sound a bit ridiculous, but it's actually quite difficult to find the information for both directions of a street at a time.  With a dedicated bike lane it's might be easy, but with a sidewalk which allows bikes it's often not marked anywhere on the sidewalk. There's just a sign on each junction.

Even in the city they are often more that a 5 minute walk appart, so in short it's often f

[2018-04-10 03:41] RubenKelevra opened #1015 "Inconsistent checking and head's up for house number quest"
We've added a new information about housenumbers, stating that house numbers can be submitted as range (with a dash) or as list (with a comma separation).

First of all, there's a typing error in the German popup about this:
![](https://i.imgur.com/zt4xf2G.jpg)
(there should be no white space in front of the comma)

Wiki clearly states, that there shouldn't be a whitespace in this case.

But the r

[2018-04-10 03:43] RubenKelevra commented on #1015
I just noticed that the font for the housenumbers are suboptimal, it has a huge spacing in front of the comma, which looks like a white space. If this is the same font than on the popup, where we explain the housenumber lists and ranges, than this might be no typo but just the suboptimal font.

[2018-04-10 04:28] matkoniecz commented on #1015
See https://github.com/westnordost/StreetComplete#contributing - it is fixable by fixing translation at https://poeditor.com/join/project/IE4GC127Ki

[2018-04-10 04:30] matkoniecz commented on #1013
Low maxspeed roads are excluded from this quest on assumption that cycleway infrastructure is unlikely in that cases.

[2018-04-10 04:30] matkoniecz commented on #1013
It may or may not be a good idea.

[2018-04-10 07:13] rugk commented on #1012
Just to be sure:
* actually the "can't answer" always adds StreetComplete to the note and even mentions the quest, AFAIK. So this is not what this issue is about.
* it's about the manually created more with the bottom left button

So my reason to still add sc name or some tag there (and even if it it's just "#createdbysc", which is unique but not directly an ad), is that we need that for evaluatio

[2018-04-10 08:14] exploide commented on #976
AFAIK it's about the Java package name. `de.westnordost.streetcomplete` must be unique on a device.

[2018-04-10 09:39] exploide commented on #976
Luckily I found my old phone with Android 5.1.1, which I could use to test SC 5.0-beta1.

The bug is not fixed. I tested with approx. 30 parking areas (of course w/o uploading). I realized the following:

- auto opening of street quests (surface, maxspeed, bicycle) works as expected
- auto opening from parking type to parking fee works
- auto opening from parking type to parking access works
- aut

[2018-04-10 11:28] westnordost commented on #1013
I think low maxspeed roads are very unlikely to have bicycle infrastructure. I have no statistics, just my personal experience.

[2018-04-10 12:31] RubenKelevra commented on #1013
Well, this street got one on both sides, actually not that uncommon 🤔

[2018-04-10 12:33] RubenKelevra commented on #1012
Okay, then might I had used the left-down button feature in this case :)

[2018-04-10 14:43] rugk commented on #1006
openstreetmap-carto really does it in a great way. :+1:
As for this here, I really think it is worth it. It's just one label more, so that's not really a big task. And I would really also like to do that, if it were possible to only get issue access and not code pushing access (which @westnordost probably won't like) on GitHub. (or maybe that's possible with https://github.com/westnordost/StreetCo

[2018-04-10 14:45] rugk commented on #1015
I don't exactly understand your issue here.

Can't you enter `3-5` as a house number? Or can't you enter `3,5` as a house number and is it rejecvted by SC, or what is the issue here?

[2018-04-10 14:49] rugk commented on #905
This is issue https://github.com/westnordost/StreetComplete/issues/962. Please comment/vote/discuss that feature there.

[2018-04-10 14:52] rugk commented on #1012
Sorry, but what?

[2018-04-10 14:57] rugk commented on #1013
Hmm, also cannot follow the logic that "low maxspeed" makes it unlikely to have bicycle infrastructure. Actually, It's kinda the reverse, IMHO, asa  high maxspeed may endanger bicyclists, so when there is a high maxspeed it is rather unlikely to have bicycle infrastructure there. E.g. on autobahns/highways there is no bicycle infrastructure… :wink: (i know, there are other reasons for that, but ju

[2018-04-10 15:11] matkoniecz commented on #1013
That is exact reason why this roads have cycleways along them, separate from traffic (or sidewalks with legal cycling or at least cycle lanes).

Are you seriously claiming that road with maxspeed 70 is less likely to have cycling infrastructure than residential road in maxspeed 30 zone?

Motorways are a special case and are excluded anyway...

[2018-04-10 15:12] matkoniecz commented on #1015
@rugk

[2018-04-10 15:15] westnordost commented on #1014
So, in other words, allow the quest to be answered when the surveyor only filled in one side. This is problematic:
1. I already got feedback from users who wondered why the app would tell them that the form is not completed even though they specified the cycleway. They obviously did not understand the form and just specified it for "any" side. To require both sides to be filled out is a safeguard

[2018-04-10 15:34] rugk commented on #1011
Hmm, it all looks as if we maybe need a better powerful server there.
But @westnordost still [rejects any donations](https://github.com/westnordost/StreetComplete/issues/835#issuecomment-363222542). Or another method [here](https://github.com/westnordost/StreetComplete/issues/747#issuecomment-355926391). Or you can e.g. [apply for the Thomas-Krenn-Award](https://www.thomas-krenn.com/de/unternehmen

[2018-04-10 15:51] rugk commented on #1014
First, as a reference link. The requirement to fill out both sides has been introduced in https://github.com/westnordost/StreetComplete/issues/700, and IMHO it is really good and should stay there.

As a middle-way maybe we could add an "Other answer": "I can only fill out one side"
This would then drop the requirement to fill both sides for the current quest (only!).

If done so:

I'd say no. If

[2018-04-10 16:08] rugk commented on #1015
Ah okay, thanks for pointing me there.

Actually both things are more or less valid as house numbers, however.

[2018-04-10 16:41] westnordost commented on #1014
No, only the error message was made clearer.

Yeah, I will close this. To change this is too problematic.

[2018-04-10 16:41] #1014 closed

[2018-04-10 16:42] rugk commented on #1013
Okay, that's a good argument. I only thought of cycleway lanes or so. In these cases maxspeed 70 is likely less likely to have such a lane.

Then, however, one still has to explain why maxspeed 30 (or lower) is unlikely to have bicycle infrastructure. These streets are common in cities or villages and I think such infrastructure (even if it is just a bike lane) is not really rare there.

[2018-04-10 16:45] westnordost commented on #1011
A server is not a problem, terrestris runs one and the person maintaining it said it would be ok if SC used it. But the format is a little different, i.e. the stylesheet would need to be changed.

[2018-04-10 21:48] westnordost commented on #1013
Present statistics that show otherwise and I will drop this requirement.

[2018-04-11 02:45] gappleto97 commented on #639
I'm not sure that it would need any more instruction than determining if something is vegan or not.

[2018-04-11 02:46] gappleto97 commented on #639
@yotamN, while I'm not Muslim, I've seen a few restaurants that advertise themselves as halal. There was one right next to my workplace when I was in California.

[2018-04-11 05:35] rugk commented on #639
Remember the quest must be easily solvable by users who are not "experts" in what the quest asks. As such by non-Muslim users, here, of course.
And I think that it really needs explanation (that may vary by country maybe though), or the quest could be disabled by default.

Also it is cumbersome to tag all the "no" answers here in many countries, as such restaurants are likely in the minority. As s

[2018-04-11 05:53] rugk commented on #1013
Maybe we could do since parsing of the data already mapped in OSM?

[2018-04-11 08:44] Wulfmorn opened #1017 "Forced to enter (possibly) redundant information, suggesting new workflow for UI"
I have an issue with how StreetComplete gives you quests. Specifically regarding cycleways.

The issue I am raising is that StreetComplete is currently a contributor in adding "cycleway:both=no". This type of information can be defined as either implicit or unknown, but that definition depends on the commonality of yes vs. no. If there is a 50-50 split between yes and no the implicit answer is "un

[2018-04-11 08:47] matkoniecz commented on #1017
https://wiki.openstreetmap.org/wiki/StreetComplete/FAQ#Why_does_StreetComplete_often_tag_the_absence_of_features.3F

[2018-04-11 08:48] matkoniecz commented on #1017
Are you aware that it is possible to change priority of quests in settings and disable unwanted ones?

[2018-04-11 08:59] Wulfmorn commented on #1017
I didnt know about sorting them but I did know about disable. But thats what I mean with "tweak the app". Sometimes I come across a road that HAS a cycleway - and then I have to enable that quest in order to see if is a current quest or not - AND make sure that that quest isnt hidden by some other quest.

Just tell me that "this road has possible quests" and let me pick which one i want to do.

[2018-04-11 09:05] westnordost commented on #1017
This is a reasonable feature request, but iirc correctly it has been requested before. The reason why it cannot be done right now is because it would requires implementing changes closely related to the map rendering. However, any features regarding the map rendering are deferred indefinitely as long as the future of the map rendering library tangram-es is not clear yet.

[2018-04-11 09:06] westnordost commented on #1017
Regarding tagging "no", @matkoniecz hit the nail with posting the FAQ entry.

[2018-04-11 09:06] #1017 closed

[2018-04-11 09:25] westnordost commented on #1012
Ok the app will add

[code]

to the end of the message, then.

[2018-04-11 09:26] #1012 closed

[2018-04-11 09:26] #1015 closed

[2018-04-11 09:41] Wulfmorn commented on #1017
I see the FAQ makes specific cases on this topic, and I would say that one can make arguments for both sides about the bike lanes.

[2018-04-11 10:08] matkoniecz commented on #1013
Yes, but as I am 99,9% sure that (except highway=trunk, motorway and links) road with maxspeed above 30 are significantly more likely to have cycling infrastructure* than roads with maxspeed below 30 I am not planning on doing that.

*except oneway:bicycle=no in some places - if you count it as "infrastructure"

[2018-04-11 10:18] westnordost commented on #976
Ok, found the problem. It is not a bug. Perhaps a missing feature, but I don't think I can do anything about it:

1. New quests are only unlocked **after upload** of the solved quest, not before. This is because the new quest can only be unlocked on the basis of the element changed after the quest has been solved. These changes however are only applied to the element just before upload - for easy

[2018-04-11 10:18] #976 closed

[2018-04-11 10:24] westnordost commented on #1013
So, I will close this. If anyone wants to try to research there more and find some statistics (through overpass?) that show otherwise, you are welcome to open another issue.

[2018-04-11 10:29] westnordost commented on #965
The described behavior is already present, with the limitation that it will not zoom back out to more than 17.5.
This is deliberate, because when a user zooms to look at a certain quest, he is likely to want to look around in the vicinity rather than be catapulted back onto metropolitan-area-zoom-level. So, I will not change this for now.

[2018-04-11 11:16] rugk commented on #1013
"I'm planning to do that"_so statistics incoming.😉
In other words you could have left this open for the time until this final stat is made, to solve this issue for good and all!

[2018-04-11 11:21] #999 closed, assigned to rugk

[2018-04-11 11:56] #984 closed

[2018-04-11 12:00] #978 closed

[2018-04-11 12:03] westnordost commented on #978
If I would add the explicit signs in Germany, then people will be confused about what to select for the kind of sidewalks where a surveyor can assume that implictly cyclists are allowed there ( https://github.com/westnordost/StreetComplete/issues/978#issuecomment-373205031 ) - where there are no signs.
So, I will close this one because the solution of adding an overlay with the signs does not solv

[2018-04-11 12:05] westnordost commented on #921
Well, does not make sense to keep this open if nothing is proposed.

[2018-04-11 12:07] westnordost commented on #914
This could still get into v5.0 even though v5.0-beta2 is already out. @huftis are you still working on it?

[2018-04-11 12:09] westnordost commented on #928
I also do not see the gain. What do the other regular contributors (@ENT8R, @PanierAvide, @goldfndr etc) say?

[2018-04-11 12:12] matkoniecz commented on #921
Can you reopen and reassign to me? I was waiting for a better weather to make photo of one of small bridges.

I tried

and found nothing on suitable license

[2018-04-11 12:17] rugk commented on #928
Indeed nearly all of these you mentioned also have repos about SC . So the best question to you would be: Could you think to transfer your SC-related repos under one "StreetComplete" organisation, to keep them together?

[2018-04-11 12:18] rugk commented on #1012
Yeah, mentioning the version number is, of course, also a good idea… :laughing: :+1:

[2018-04-11 12:18] matkoniecz commented on #928
I still see no benefit over list, it seems to merely add administrative work for @westnordost (who AFAIK is not liking it).

In this cases it seems to be more useful as there is one project with multiple products (terminal program, web app) rather than single project with some related tools - so it probably simplifies handling of admin rights.

[2018-04-11 12:19] matkoniecz commented on #928
@rugk

I would not transfer https://github.com/matkoniecz/Zazolc as it would go against entire point of my private fork.

[2018-04-11 12:27] ENT8R commented on #928
I have no strong opinion on this... I mean if the links to the other projects exist in this project you should find the repository even without a Github Organization...
On the other hand you could say that with a StreetComplete organization other people can see which projects really belong to SC...

[2018-04-11 12:30] rugk commented on #928
Of course, yes, personal forks are personal forks. These would not be useful to transfer…

Good point, AFAIK StreetComplete's tools are really only developed by one person or so

BTW, "over a list, which we do not even have currently"… :disappointed:

----

So as I see I meet much resistance to this idea, I'll give up. It's not worth it then…
Then, instead let's make a simple list: [issue is being

[2018-04-11 12:30] #928 closed

[2018-04-11 12:31] Wulfmorn commented on #1017
Yes. I imagined just one icon on the map that opens a menu-ish list or dropdown (one way or another) to pick the quest you wish to resolve.

[2018-04-11 12:34] ENT8R commented on #1017
If you have another suggestion which was not yet suggested in #124 you should post it there because this issue here has been already closed.

[2018-04-11 12:34] westnordost commented on #921
(I cannot assign you)

[2018-04-11 12:36] ENT8R commented on #1003
Is there already somebody working on it?

[2018-04-11 12:39] rugk commented on #928
I think this here would really make sense only, if @westnordost would e.g. want to move the dependencies he created (countryboundaries, etc.) into one organization under SC, so they belong together. But I think this is not the case. :wink:

[2018-04-11 12:41] rugk opened #1018 "List of StreetComplete-related (GitHub) repositories"
Follow-up of https://github.com/westnordost/StreetComplete/issues/928

## Problem

* SC has inspired many to create tools or other stuff in connection to SC
* Finding all related tools or dependencies or stuff, which has been created for StreetComplete or is used by SC or is otherwise (directly) connected to it

This has the following effects:
* contributors may not notice stuff, where they could

[2018-04-11 12:43] rugk commented on #1003
I think no, otherwise one would have commented here or be assigned. :smile:

[2018-04-11 12:44] ENT8R commented on #1003
Okay. Then I will try to do this. I already set up Travis CI for some Node.js projects...

[2018-04-11 12:45] rugk commented on #1013
You: "I am not planning on doing that" – sorry, my quote was not literally. :smiley:

And yes, I know it is okay to call for a new issue and close this one. It's just only one statistic is missing, then this issue can be closed finally. And as you pledged to provide that, why not let it open until you do? (Hope it's not too much work.)

[2018-04-11 14:02] goldfndr commented on #1006
Because this is mainly for users to see if their quest idea has already been submitted, I suggest that, if @westnordost can confirm this wording of #1005

And can formulate what's considered declined

Then perhaps the best approach is to simply have *us* do the drudgery of finding declined quests and adding them to a "Declined quests" (or "Rejected quests") section of the [Quests list](https://wik

[2018-04-11 14:14] matkoniecz commented on #1018
@rugk

I would just make PRs similar to https://github.com/westnordost/StreetComplete/pull/836 if there are some project that are missing

[2018-04-11 14:16] matkoniecz commented on #1003
@ENT8R Can you consider finishing #774 and #959 before starting that?

[2018-04-11 14:29] rugk commented on #1018
In other words: You'd favor to include it in the Contributing file.

[2018-04-11 14:44] #990 closed

[2018-04-11 15:07] ENT8R commented on #1003
@matkoniecz This was my plan! 👍

[2018-04-11 20:25] gappleto97 commented on #639
If this violates the anti spam rule, then how does the vegan one not? Most restaurants dont have vegan main dishes, in my experience.

[2018-04-11 21:34] rugk commented on #639
Yes, that's also a reason why the quest is disabled by default, AFAIK. The same could be done with this quest here. And as said, it could also be adjusted by region.

[2018-04-11 21:49] RubenKelevra commented on #1007
Checked and I can confirm a successful fix for v5.0b2.

Thanks a lot!

[2018-04-12 15:10] RubenKelevra commented on #962
The notes just displayed like all other notes would be nice. Everything above is a bit overkill I guess. :)

[2018-04-12 15:14] RubenKelevra commented on #1014
Well, I understand your criticism, but if this dialog is a issue, we might want to rework it.

The feature is really needed since it's also problematic to add details a half hour to an hour later out of memory instead of just adding this directly. I also tend to tag by some days old memory, when I drive the way down in opposite direction on a different day.

If you're not clear how to solve it, it

[2018-04-12 15:33] RubenKelevra commented on #1013
Yes I am.

This one got a cycleway (not tagged in OSM):
https://www.openstreetmap.org/way/113482748

This one has not:
https://www.openstreetmap.org/way/37178440

They are actually directly next to each other and the second one has less elevation - since it's an old railway. Also, there's a cycleway over the whole old railway line, except this part which is a 70 zone. They decided it would be bett

[2018-04-12 15:39] exploide commented on #962
On the other hand, SC does not show notes where you participated. So this would be kind of inconsistent.

[2018-04-12 19:11] huftis commented on #914
@westnordost There’s not much work left, but I would prefer to wait till v5.1 (or v6.0 or whatever the version after v5.0 will be called). I’m not a fan of last-minute (non-bugfix) changes in an app that’s already in the beta process. Too risky. :)

[2018-04-12 21:40] rugk commented on #962
But AFAIK it shows notes, which you have _created_.

[2018-04-13 02:21] abendebury opened #1019 "Tile caching issue"
Sometimes at a certain zoom level it seems like a tile is not available (see first pic). However, after zooming out, the tile loads at a reduced zoom (see second pic), then after zooming back to the original level the tile remains (third pic).

It seems like it should either always be shown (if it is not in the local cache) or never be shown (if it is not in the cache).

https://ibb.co/hBngXS
http

[2018-04-13 02:23] #1019 closed, assigned to nobody

[2018-04-13 04:49] rindlerblabla commented on #1013
In my experience (from Sweden) it's connected to the classification of the highway when it comes to highways with speed lower than 50 (whether there is a cycle lane or not). Residential highways very seldom have cycle lanes, but unclassified highways, tertiary highways and so on can have a cycle lane even if the maxspeed is low.

In this case obviously the highway is classified as a residential hi

[2018-04-13 04:51] ENT8R commented on #1019
Even if you can reproduce this again, it should not be an issue with this app but rather with the render library https://github.com/tangrams/tangram-es

[2018-04-13 11:39] claudiush opened #1020 "New Quest: Speciality of medical practitioners"
### General
Affected tag(s) to be modified/added: Add [healthcare=doctor + healthcare:speciality=*](https://wiki.openstreetmap.org/wiki/Key:healthcare:speciality)
Question asked: **What is the speciality of a medical practitioner XY?**

### Checklist
Checklist for quest suggestions (see guidelines):
- [x] 🚧 To be added tag is established and has a useful purpose
- [x] 🤔 Any answer the user can giv

[2018-04-13 16:48] RubenKelevra opened #1021 "Unneeded metadata in svg files"
I noticed pretty useless metadata from inkscape embedded in the svg files, like in this one:

https://github.com/westnordost/StreetComplete/blob/master/res/building_levels_illustration.svg?short_path=20be839

`inkscape:export-filename="C:\Users\Newton\AndroidStudioProjects\streetcomplete\app\src\main\res\drawable-xxhdpi\building_levels_illustration.png"`

[2018-04-13 18:31] rugk commented on #1021
This is expected.

And it is a duplicate of https://github.com/westnordost/StreetComplete/issues/814, BTW.

[2018-04-13 18:40] #1021 closed

[2018-04-13 20:12] RubenKelevra commented on #1021
Alright, thanks :)

[2018-04-13 21:03] rugk commented on #962
That is an option in the setting, but AFAIK SC also does not refresh the stuff so fast, so you won't see the notes you just added via StreetComplete.

So let's focus on this issue and I think, it does need special handling in the code anyway. This issue is "Show manually created notes in StreetComplete on the map after creation.". That's it. Not more, not less.

[2018-04-13 21:32] RubenKelevra commented on #1014
@westnordost

So... I've created a draft for a UI change to accommodate this issue and also might fix the confusion for some users.

If you click on an icon for the bicycle lane, the icon split in two, allowing the user to select which side he wants to edit.

We would need 4 different layouts: top-bottom, left-right, left&up-right&down and left&down-right&up to adapt to the different direction of

[2018-04-13 22:05] westnordost commented on #1018
Yes, me too. So, see the PR.

[2018-04-13 22:05] #1018 closed

[2018-04-13 22:07] #551 closed

[2018-04-13 22:08] #828 closed

[2018-04-13 22:09] westnordost commented on #879
So I won't do anything map-related and we don't need an issue as an invitation for those who are inclined to experiment around, closing.

[2018-04-13 22:09] #879 closed

[2018-04-14 04:16] rindlerblabla commented on #1013
Hehe, thanks. Maybe it's out of the scope for this issue, but I think that highway could have been tagged as tertiary as well. Compared to other residential highways I think that highway has a higher importance for routing etc. But i havent seen that place IRL.

Ordinary residential highways seldom have bicycle lanes when the maxspeed is low, in my experience, but when it comes to residential high

[2018-04-14 04:57] matkoniecz commented on #1020
Why?

[2018-04-14 07:24] exploide commented on #1020
Because sometimes only `amenity=doctors` is tagged, but the wiki suggests also adding `healthcare=doctor` when further details are specified. This is also the behavior of the respective iD preset. Maybe not the most KISS-like tagging scheme but sadly that seems often to be the case.

[2018-04-14 10:01] rindlerblabla commented on #1013
Yes, or just exclude residential and skip the maxspeed thing but maybe it's just the area where I am mapping this is the situation.

[2018-04-14 10:09] rugk commented on #1018
So okay, I've added this too https://github.com/westnordost/StreetComplete/pull/1005.

[2018-04-14 11:04] westnordost commented on #1013
Ok so I will exclude `highway=residential` and only exclude speed limits of 20km/h and below.

[2018-04-14 12:02] westnordost opened #1022 "Task: Script that imports oneway-data dump and makes it available via a web API"
I could need help with something that is not a part of this app (=not Java code). Anyone interested?

# Introduction
Amongst other things, Telenav collects and aggregates data about the traffic flow direction of likely oneway roads that have not been tagged as `oneway=yes` in OSM yet. This data is available as a daily worldwide dump on http://missingroads.skobbler.net/dumps/OneWays/

This data can

[2018-04-14 12:05] ENT8R commented on #1022
Sound like a cool project! Is there a programming language which is preferred by you?

[2018-04-14 12:07] westnordost commented on #1022
The only requirement is that it runs on my webspace, the language is the implementer's choice.

[2018-04-14 14:49] exploide commented on #1022
@ENT8R does this mean you picked this task?

Otherwise, three questions for @westnordost due to the webspace capabilities:

- Can you configure something like cron jobs? Populating the database should be independent from the web API, because triggering long running tasks from a web server might cause problems such as timeouts. I would separate both scripts.
- Supports your webspace serving WSGI ap

[2018-04-14 15:15] ENT8R commented on #1022
Actually I started some experiments and I can now generate already a CSV file with only the ways with the status `OPEN` with only 30 lines of code... So I will do some more steps and the decide if I bring this to an end but probably this should be relatively easy-to-do...

[2018-04-14 17:11] westnordost commented on #1022
Yes

I can't answer the other questions and I wouldn't know how to find this out. The hoster is wint.global.

[2018-04-14 17:28] exploide commented on #1022
Wow, they have pretty bad documentation. At least I found nearly nothing. If I would do it with Python, I would ask for your assistance to find out which deployment possibilities they offer. However, since @ENT8R is doing it right now (and I assume with PHP) this is no longer important for me. Thanks anyway.

[2018-04-14 17:29] westnordost commented on #1022
I am not sure if he is doing it, he has still a couple of other things open.

[2018-04-14 17:38] exploide commented on #1022
That was the reason why I asked for a commitment to the task. I don't like duplicating effort and while the data crunching and web stuff is fun and pretty straight forward, I would need to read one or two Wikipedia articles to get that LINESTRING centroid right.

I prefer to let him do the steps he wanted to do, and wait for his decision. If he won't, I can give it a try. :)

[2018-04-14 23:49] westnordost commented on #1022
[Here is a hint.](https://github.com/westnordost/StreetComplete/blob/56b38a13d4e780c13bf86d9577bd4425818f3d68/app/src/main/java/de/westnordost/streetcomplete/data/osm/ElementGeometry.java#L52-L75)
Though, the algorithm could be improved by not calculating the total length beforehand and instead iterate from the start and end of the list at the same time

[2018-04-15 05:53] ENT8R commented on #1022
I think I can show you a first working example in a few hours. I will tell if the code is available on Github.

[2018-04-15 10:08] ENT8R commented on #1022
Alright. The very first version is now available on Github: https://github.com/ENT8R/oneway-data-api It is written in PHP and a test instance can be found at https://ent8r.lima-city.de/oneway-data-api/

If you want to update the list just call the endpoint [`/update`](https://ent8r.lima-city.de/oneway-data-api/update)
To get the data for a specific bounding box (e.g. Cape Town): [`/get/?bbox=18.30

[2018-04-15 11:38] rugk commented on #1022
So you want to introduce an API key? IMHO a good idea.

[2018-04-15 11:40] exploide commented on #1022
No, I want to have to have this offline xD Working on it now. If @ENT8R or @westnordost really think they want the update functionality online, then stop this and you can go with it, but I don't know why this would be useful. Who should have a legitimate reason to trigger this update from the outside? A simple cron job invoking the php script and it's up to date everyday...

[2018-04-15 11:44] rugk commented on #1022
Ah, yes, of course, it may be internally done by a cron job. Anyway as for external connections, one could introduce an API key anyway. Could be useful to limit the server load.

[2018-04-15 12:26] exploide commented on #1022
I just submitted a WIP PR there. Maybe it's good to continue discussion there and in the other issue tracker, so less emails and notifications are emitted to the main project here.

[2018-04-15 17:25] ENT8R commented on #1022
From my point of view we have now a great working tool/API. If you (@westnordost) have some more suggestions feel free to open an issue in the other repo.

[2018-04-15 17:26] exploide commented on #1022
Fine. @ENT8R are there further construction sites you are aware of? Otherwise we can let @westnordost shoot a glance.

I think one could see if either the geophp library or the own geometry code could be removed, but I leave this up to you. Regarding the bounds checks, I also only adapted what you did there to the MySQL query. JSON looked like yours before, but a second round of sanity checking wo

[2018-04-15 17:37] westnordost commented on #1022
I shot a glance

[2018-04-16 08:05] RubenKelevra commented on #1013
@rindlerblabla well, I got your point, but using this tag would fool routers to use it, which makes no sense, using the parallel Kölner Straße is much faster. That's the reason why it's nearly ignored by locals which lowers it's importance. :)

[2018-04-17 00:17] kabo opened #1025 "Bug: missing buildings"
Hi,

It seems some buildings are missing on the map. I created a note that a building was missing, but it turns out I can see the building on the web.

https://www.openstreetmap.org/note/1361508#map=19/-37.80102/174.87013

![screenshot_20180417-115846](https://user-images.githubusercontent.com/357601/38841577-2c334c44-4239-11e8-97af-eed1940289d8.png)

[2018-04-17 04:26] ENT8R commented on #1025
The building was added 14 hours ago. You should give the tile server a little bit more time before you raise an issue here :smile:
I fear that this building won't show up in the next 2-3 months because the tile server we use can't be updated daily.
For more information see #1011 or #747

[2018-04-17 04:40] kabo commented on #1025
I'm so confused. So I added the note 22 hours ago. 14 hours ago someone added the building. Then constable commented "looks good to me" (implying "what are you talking about, the building is right there"). Then I checked the note and saw the building on the web map. So I thought there was a bug in the app and created this issue. Is this a correct guess at what happened?
How do you check when a bui

[2018-04-17 06:08] matkoniecz commented on #1025
Sounds like duplicate of #1011

[2018-04-17 10:20] #1025 closed, assigned to nobody

[2018-04-17 11:12] BER319 opened #1026 "opening_hours and PH"
Hello,

I have a problem with the registered opening_hours "https://www.openstreetmap.org/node/559904758" "Tu-Th,Su,PH 12:00-23:00, Fr,Sa 12:00-24:00".
with the evaluation tool "http://openingh.openstreetmap.de/evaluation_tool/?EXP=Tu-Th%2CSu%2CPH%2012%3A00-23%3A00%2C%20Fr%2CSa%2012%3A00-24%3A00&lat=48.7769&lon=9.1844&mode=0&DATE=1451118180000", PH is not evaluated correctly. "Fr,Sa 12:00-24:00" o

[2018-04-17 15:07] matkoniecz commented on #1026
So, situation is that

was set with expectations that public holidays on Friday will use PH rule. Instead Friday rule is used.

[2018-04-18 09:28] rugk commented on #98
Hmm, maybe open a new issue for an API? So other apps, could "inject" new quests into SC.

That is different from what is discussed here, as it has mainly been discussed, that we could offer a special format as JSON or so. An API for other apps could however be better defined and allows more flexible quests.

[2018-04-18 10:58] westnordost commented on #1026
Right, the expectation is that PH overrides other rules in this example. Solving this has highest priority.

However, how to solve it depends on how (possibly ambiguous) opening hours on opening hours signs should be interpreted. So, I would like to get some opinions on what one would expect if they see the following opening hours signs:

**A1.**
[code]
Would you expect that it is open before noon

[2018-04-18 11:34] matkoniecz commented on #1026
ad A1 - it should be "Mo-Fr", not "Mo-Su" - right?

[2018-04-18 11:38] matkoniecz commented on #1026
ad A2 - obviously not (even if it would be office of Association of Pedantic Programmers)

ad B - the same, PH is obviously intending to override normal operating hours

ad C - no idea, I never encountered something like that. I would ask shopkeeper as I would consider mistake in preparing opening hours information to be more likely than such unusual opening hours.

ad D - the same as above

[2018-04-18 11:38] rugk commented on #1026
I assume "PH" is written like "public holiday" or so on a sign.

A1) to these two questions: yes and no
A2) yes
B) no
C) no, and I would ask the ones who wrote that sign where they are all right or want to confuse customers😉
D) yes

BTW good questionnaire you put up here. Maybe you can use some real survey service or so next time to make it a bit more professional and easier to evaluate.😉

[2018-04-18 11:39] matkoniecz commented on #1026
BTW, it should be possible (at least in theory) to detect all edits affected by this bug.

[2018-04-18 13:05] westnordost commented on #1026
No, Mo-Su

[2018-04-18 16:10] HolgerJeromin commented on #1026
Is this solution feasible:
writing every weekday seperated with comma and after that add the PH after a semicolon:
`Mo-Fr 08:00-18:00, We 12:00-18:00, Sa,Su 08:00-12:00;PH 08:00-09:00`

[2018-04-18 17:10] westnordost commented on #1022
:shipit:
I think this project is finished. Thank you @ENT8R and thank you @exploide :-)

Everything seems to work now https://www.westnordost.de/streetcomplete/oneway-data-api/?bbox=18,-34,19,-33

[2018-04-18 17:10] #1022 closed

[2018-04-18 17:12] #940 closed

[2018-04-18 17:17] westnordost commented on #1026
Of course it would, but before I jump to solutions, I first want to find out what should be the solution. Because the solution should reflect the common sense understanding on how opening hours on signs should be interpreted.
Perhaps the common sense rule would be that opening hours on different days should only overwrite each other if the times specified overlap (C). Or maybe, public holidays sho

[2018-04-18 17:35] gappleto97 opened #1027 "Add an API to "inject" quests into StreetComplete"
The idea here is to allow other app developers to come up with quests that are either partially or tangentially related to OpenStreetMap, and use StreetComplete as a framework. This can be achieved by providing an API to other apps on your phone. This API should provide at least the following:

1. A way to insert a "quest label" that can be turned on or reordered like standard quests
2. A broadcas

[2018-04-18 18:12] BER319 commented on #1026
Hello west northeast,

very good examples I think many of these examples can unfortunately interpret twice, as it already show the few answers.

A1, yes / no

if no holiday is specified in the first line, then only the second line is valid for holidays

but also

A1 yes / yes

since in the second line also weekdays of the first line are indicated one can consider the opening times also as addition

[2018-04-18 18:15] BER319 commented on #1026
sorry for my translation english

[2018-04-18 18:17] BER319 commented on #1026
Sorry that was the wrong button

[2018-04-18 20:14] matkoniecz commented on #1027
Why making quest and injecting quest would be easier than just making quest?

[2018-04-18 20:26] gappleto97 commented on #1027
@matkoniecz I'm not actually sure that it would be easier. However, if there were an example plugin, and an easy way to fill in your details as if it were a builtin quest, then you could (hopefully) just copy the appropriate parts as a pull request once you've tested it.

[2018-04-18 20:36] matkoniecz commented on #1027
That would make sense, as it would allow distributing addons with quests rejected by @westnordost (including some too specialized ones)

There is cost-benefit question whatever necessary code is worth it, but it is question to @westnordost

In my case it would not be helpful as I tweak also some parts of interface (like "are you sure" for toggling quest disabled by default), change what is disable

[2018-04-18 21:00] westnordost commented on #1026
I also understand German

[2018-04-19 04:30] ENT8R commented on #1027
But you can do the same with a normal quest. Just search for an already implemented quest, copy the parts that you need and modify them. This is how I did it too in the beginning

[2018-04-19 06:54] gappleto97 commented on #1027
In any case, I think we agree that it would help things that are unrelated to OSM, and things that are too specific/specialized to get in mainline StreetComplete.

[2018-04-19 08:14] BER319 commented on #1026
Hallo westnordost,
Ausgang war der oben genannte Fall einer erfassten Öffnungszeit mit SC. Die Zeiten wurden korrekt übernommen, doch leider führt die Reihenfolge der Öffnungszeiten im Datensatz dazu, das eine Auswertung ein anderes Ergebnis bringt wie gewünscht.
Es wird der Feiertag welcher am Fr oder Sa liegt mit den Werten von einem normale Fr oder Sa überschrieben.

Wie schon vorgeschlagen sol

[2018-04-19 09:07] claudiush commented on #1020
@matkoniecz To answer your "Why" question: Right now most doctors in the city I live in are just tagged as a doctors practice. I am looking for a pediatrician though, or what about a gynecologist? Where is the next dermatologist to have a look at my skin? And I'm not even talking about the plastic surgeons that are not really helpful if you want to get your flu shots.

There are various scenarios

[2018-04-19 11:02] ENT8R commented on #1020
@claudiush I think @matkoniecz wanted to know why you would want to **add** `healthcare:doctor` **and** `healthcare:speciality`. But this was already answered by @exploide, wasn't it?

[2018-04-19 21:45] westnordost commented on #1026
Ok, von den Antworten die ich bisher bekommen habe, zeichnet sich mir folgendes Bild:
1. Wenn die Regeln sich _nicht überschneiden_ (Tage + Zeiten), werden die angegebenen Zeiten normalerweise als zusätzlich interpretiert (siehe D)
2. Wenn die Regeln sich _doch überschneiden_ (Tage + Zeiten), werden die angegebenen Zeiten normalerweise als überschreibend interpretiert (siehe B, C)
3. (Öffentliche

[2018-04-20 16:45] BER319 commented on #1026
Hallo Westnordost
Ich würde allen deiner Vorschläge zustimmen. Alles andere macht keinen Sinn. Feiertage Immer extra, wir können ja nichts für unklare Angaben auf dem Öffnungszeiten Schild.

PS
Deine App ist super, bitte lasse dich nicht entmutigen, auch wenn der Gegenwind Mal etwas größer ist, dein Weg ist auf alle Fälle richtig.

BER319

Hello westnortheast

I would agree with all your suggestio

[2018-04-21 19:31] blipp commented on #962
By “manually created notes”, do you also mean notes created by answering “Can't say”to a question? Because then I consider myself affected by this issue:

Some time ago I created some notes via “Can't say” on some road surface questions. Now I gained additional knowledge (ENT8R answered to one of my notes) and could answer the questions and mark the notes as done. But StreetComplete doesn't show n

[2018-04-22 12:59] rugk commented on #962
No, I don't.

So to clarify yet again:
* **Can't say** notes are created when the user just cannot answer a question. These may *not* need to be shown on the map. And if you want so, please ope a new issue.
* The notes created by the bottom left button are the ones I call **manually created notes** as the user actively has to click that button and write a note.

IMHO these note types are quite dif

[2018-04-22 16:28] #1026 closed

[2018-04-22 16:35] #1013 closed

[2018-04-22 17:00] blipp opened #1029 "Make it possible to show again “Can't say” notes/the original question"
As discussed in #962 I am creating a dedicated issue for this, by copy-pasting my original comment, and adding a paragraph.

Some time ago I created some notes via “Can't say” on some road surface questions. Now I gained additional knowledge (ENT8R answered to one of my notes) and could answer the questions and mark the notes as done. But StreetComplete doesn't show neither the questions nor the n

[2018-04-22 19:56] westnordost opened #1030 "lut.im service discontinued => Implement image upload feature OSM-wide? (Ruby)"
So the service we used to upload the note images was discontinued. Man, the services StreetComplete is relying on are really crumbling left and right since 2018. I changed the URL to framapic.org for now, but looking at the statistics it is a much smaller instance.
My guess is that lut.im was discontinued because it was exploited. I don't think that StreetComplete would put a heavy load on framapi

[2018-04-22 19:58] rugk commented on #1029
It depends on how fast new quests are downloaded, i.e. when you [often](https://wiki.openstreetmap.org/wiki/StreetComplete/FAQ#Why_does_StreetComplete_show_so_few_quests_when_I_first_start_the_app.3F) click the "Download new quests" button maybe they appaer.
Note that I may be wrong on this, maybe notes have some special handling anyway, compared to other quest types.

[2018-04-22 20:01] rugk commented on #1030
/cc  @ldidry

Alos moving my question from https://github.com/westnordost/StreetComplete/commit/f2ab272d54f2a324542a3ab59c0c1e4386a5306c#commitcomment-28688748 better here now:

[2018-04-22 20:01] matkoniecz commented on #1030
Are you sure? From looking at https://github.com/openstreetmap/openstreetmap-website it seems to be Ruby.

[2018-04-22 20:04] westnordost commented on #1030
Oops, you are right. I only remembered it to be written in a sleek form, so I thought "gotta be Python". I guess Ruby is even sleeker. Corrected.

[2018-04-22 20:05] rugk commented on #1030
That's interesting, because Framapic is actually a "big" French non-profit and not personally project of some of their developers (I think). As such, it should hopefully survive. However, BTW, did you actually ask Framasoft whether you can use their service?

Oh, that's a "think big" view here, but that's good. I like that idea. Maybe create an issue on https://github.com/openstreetmap/operations,

[2018-04-22 20:16] westnordost commented on #1030
No, not yet. I also did not find any information on terms of use or similar (and it's all in French).

[2018-04-22 22:45] ldidry commented on #1030
Hello,

Sorry for discontinuing the service without warning, I forgot that you used it.

It's not because of you that I'm shutting down the upload but because of the troubles it caused me: the CEPH storage was pretty instable (at the end, it disconnected from the server every day). Some users contacted me each time the images were unavailable (by mail, XMPP, Gitlab issues… event by commenting comm

[2018-04-22 22:48] ldidry commented on #1030
I would happily maintain a Lutim instance for you if you have a server where to put it.

[2018-04-22 22:49] rugk commented on #1030
Maybe an instance only for StreetComplete? (which would require some API key)

[2018-04-22 22:51] rugk opened #1031 "Lint sourc code"
I only looked at the [article](https://developer.android.com/studio/write/lint.html) for a short time, but do you use some linting in your code? Or does Android Studio do it all?

As far as I see there are, at least, ways to configure the linter and this does not seem to be used in StreetComplete.

So in any case, linting the code would be a good idea. Static code checks are always good!

[2018-04-23 06:38] matkoniecz commented on #1031
Yes it does. Googling using https://duckduckgo.com/?q=lint+android+studio gives https://developer.android.com/studio/write/lint.html as the first result

Therefore this issue is already fixed.

[2018-04-23 10:58] rugk commented on #1031
You know I already linked to the exact site you mention?😂

However it also mentions an XML file for configuration. And I really think to use a linter effectively, you need to configure it and enable additional rules, which are not set by default.

And this does not seem to be done, because there is no such XML file here.

[2018-04-23 11:03] matkoniecz commented on #1031
No,  failed to spot the link. But if you read it - the why you ask "Or does Android Studio do it all?", given that the article answers that question?

[2018-04-23 11:11] ENT8R commented on #1031
The article says:

A configuration file that you can use to specify any lint checks that you want to exclude and to customize problem severity levels.

Which means that this file is only for disabling some checks which are not needed, but enabled by default...

[2018-04-23 15:16] RubenKelevra commented on #1013
Well, version 5.0 allow streets which are **not** residential to be included to this quest, but my issue was about residential roads with bicycle infrastructure and 30 kph speed restrictions. So actually the issue was not fixed, but very edgy scenarios for streets which are not residential but have a speed restriction below 30 kph. 😐

[2018-04-23 15:46] westnordost commented on #1013
I know. The app will not ask for residential 30kphs

[2018-04-23 17:02] RubenKelevra commented on #1013
But this was the point of this ticket, that I found a residential street with 30 kph and cycle way which the app does not show. And I also showed, that this case is pretty common.

[2018-04-23 17:26] RubenKelevra commented on #25
Interesting conversations about building types. I guess this app has the ability to spread much more detailed information throughout the database, so the first implementation should be very well to understand, to avoid mass misstagging.

I see some issues here for example in residential buildings, build in a row inside a city with shops in the first level. How should such a building be tagged? 🤔

[2018-04-23 18:07] ENT8R commented on #25
Have you noticed #774? This should answer most of your proposals...

This should be the intention behind **every** quest 👍

which is why we decided to use icons rather than images and a show a small description next to the icon like you can see in https://github.com/westnordost/StreetComplete/pull/774#issuecomment-380835490

[2018-04-23 20:07] matkoniecz commented on #213
@RubenKelevra Are you speaking about addr:place? In that case - where are regions without street names that do not add addr:place? How they mark addresses where addr:street is not necessary?

[2018-04-23 20:28] RubenKelevra commented on #25
Thanks for your work on this topic, I actually overlooked this PR here in the list. Thanks for the heads-up

[2018-04-24 11:46] rory commented on #546
I'd like to work on this, as part of the [Diversity quarterly project](https://wiki.openstreetmap.org/wiki/Diversity_Quarterly_Project/2018_Q2). There is benefit especially with `unisex=yes` tag. I'd like to seek consensus on the `unisex=*` tag, since ["unisex toilet"](https://en.wikipedia.org/wiki/Unisex_public_toilet) means a gender neutral toilet, and is very different from `male=yes female=yes

[2018-04-24 12:52] matkoniecz commented on #546
I strongly suggest to open a new issue:

- see the title, that quest is completely different from one originally suggested
- discussions in closed issues are likely to be ignored

[2018-04-24 14:06] rugk commented on #546
BTW what this issue here has shown is that the tagging of toilets in this aspect is very confusing. It is not clear whether the tag applies to the entrance, to segregated or not, etc. toilets.

[2018-04-24 18:32] abendebury opened #1032 "Zoomed tiles not loading"
Loading new tiles at low zoom works fine, but if I zoom in to the level that I expect to see street buildings no tiles load at all. Using street complete 5.0 on Android 4.4.4. have tried reinstalling and clearing cache without success.

[2018-04-24 19:17] RubenKelevra commented on #1013
@westnordost so if you did not want to fix this issue with your change, why did you closed this ticket with it?

I totally don't get your change... streets which aren't residential but maxspeed=30 are pretty uncommon. And I showed that on the other hand streets with maxspeed=30 and residential have bike lanes.

So what exactly do did I miss here?

[2018-04-24 19:30] ENT8R commented on #1013
IMO the amount of residential roads with maxspeed=30 and a cycle way really depends on the area you live in. In urban areas you will maybe encounter more of these than in rural areas, where (just speaking from my experience) those roads do nearly never exist...

[2018-04-24 19:46] ENT8R commented on #1032
Seems to be the same issue as #987...

[2018-04-24 20:45] ilyaguy commented on #1032
No tiles at any zoom level. Android 7.1, app installed from play market.

[2018-04-25 06:26] Akasch commented on #1032
I have a look at it as soon as possible, could be a few hours as I am traveling at the moment.

Am 24. April 2018 22:45:01 MESZ schrieb Illia Hai <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2018-04-25 06:49] matkoniecz commented on #1032
@Akasch Can you consider looking also at #1011 - any reply, also one that makes clear that it is unfixable, like "for financial reasons it is not feasible to do this", is better than no reply at all.

[2018-04-25 07:39] RubenKelevra commented on #213
@matkoniecz yep, I usually tag `postal_code=xyz` on the ways of the street and `addr:street=abc` on the buildings. It sounds like you plan to tag the name of the city or suburbs at each building with `addr:place=bef`. I consider this as redundant data, suburbs and citys should be added as boundary, not at building level.

Someone here imported a huge amount of data, tagging each building with a po

[2018-04-25 07:44] RubenKelevra commented on #1013
@ENT8R well, that might be true for your area, but my data here, as shown, draw a different picture.

Furthermore we do ask for residential streets for bicycle lanes, in case the maxspeed was previously not determined the maxspeed quest is followed by the bicycle quest:

https://www.openstreetmap.org/changeset/58398593

[2018-04-25 08:07] matkoniecz commented on #213
Only on buildings that a) have address b) address has no `addr:street` part (area has no assigned street names).

And I would do it only in areas where it is established tagging (so far I only checked address tagging standards in Poland where this scheme is used).

Do you know how other places handle addresses in areas without street names?

[2018-04-25 08:09] matkoniecz commented on #1013
@RubenKelevra See #746

[2018-04-25 08:35] matkoniecz commented on #1032
Thanks!

[2018-04-25 10:12] westnordost commented on #1030
To my experience, running a Perl application on a shared hosting webspace is always problematic, so I am trying to avoid having to maintain it on my webspace. In that regard, @ldidry thank you for the offer, but if I put it on my webspace, I would admin it myself, following the instructions in the wiki, because I'd probably have some back and forth with the support whether they could install this

[2018-04-25 10:36] ENT8R commented on #1013
But it is also not possible to disable this question for low maxspeeds in rural areas and enable it only in urban areas... So how should we handle this?

[2018-04-25 15:16] rory commented on #546
I am not sure *what* the correct tagging is. When that's clear, I'll open a new issue (and maybe submit a patch) 🙂

[2018-04-25 21:36] westnordost commented on #1030
It looks like such a feature couldn't/shouldn't be implemented for the time being because the OWG is busy with moving the server infrastructure. Also, there are concerns about possible exploitation, moderation and liability, see https://github.com/openstreetmap/operations/issues/206.

In that case, I will close this issue as framapic.org looks like a stable solution for now and the feature will no

[2018-04-25 21:36] #1030 closed

[2018-04-26 05:37] ENT8R commented on #1032
@abendebury as this is fixed now, can this be closed?

[2018-04-26 12:04] #1032 closed

[2018-04-26 20:17] BjornRasmussen opened #1033 "Include relations in search for parking areas"
After using StreetComplete, I have noticed that it does not edit Multipolygons.  In my town, many parking lots are added as multipolygons due to the presence of buildings in the center of them.  As far as I can tell, missing tagging in these parking lots is not noticed by StreetComplete.

[2018-04-26 20:33] ENT8R commented on #1033
This is because the query does not search for them. The current query for the parking type looks like this:
https://github.com/westnordost/StreetComplete/blob/00072402b52431e78e51df0165153dffa556f24d/app/src/main/java/de/westnordost/streetcomplete/quests/parking_type/AddParkingType.java#L24

Which means that it searches only for points and normal areas with the tag `amenity=parking` and without th

[2018-04-26 20:42] matkoniecz commented on #1033
It has "may be used on areas" (what includes multipolygons) at https://wiki.openstreetmap.org/wiki/Tag:amenity%3Dparkingm .

and anyway, amenity=parking is widely used on multipolygons so if wiki claimed otherwise it should be changed

[2018-04-26 20:49] westnordost commented on #1033
Should also be checked for the other (parking) quests if also looking for releations (=multipolygons) makes sense.

[2018-04-27 19:05] RubenKelevra commented on #213
@matkoniecz alright, this sounds better. :)

Well, I came across many small suburbs in my area which has just a name like "Sonne", where basically 2 or 3 backroads meet. The address is than just "Sonne 3" or similar, while they are spread around those 2 or 3 streets.

So the suburb is added to the street name and the addr:city is just the name of the city which this suburb belongs.

[2018-04-28 09:19] PanderMusubi opened #1035 "Facilitate translation in Weblate"
Translation of the PO files can be done on Weblate https://hosted.weblate.org/about/ They offer free hosting for FOSS projects.

[2018-04-28 09:26] ENT8R commented on #1035
But why should we offer two translation platforms? Doesn't this add too much complexity? Also the strings are not saved in PO files but in the normal XML format for android: https://developer.android.com/guide/topics/resources/string-resource#String

[2018-04-28 09:44] PanderMusubi commented on #1035
Excuse, meant to say XML, not PO. also now I see that it is facilitated at POEdit**or**, which I had mistaken for https://poedit.net/

[2018-04-28 09:44] #1035 closed

[2018-04-28 23:36] Rudloff opened #1036 "StreetComplete uses a lot of battery"
Hello,

I am using a Fairphone 2 with Android 6.0.1. My battery is is 2-3 years old and does not last very long but it is way worse when I'm using StreetComplete 5.0. When I'm actively using the app, I lose ~30% of my battery in 30 minutes.
At first I thought it was mostly due to the GPS, but I disabled geolocation in Android settings and it still uses a lot of battery.

The strange thing it that

[2018-04-29 07:11] westnordost commented on #1036
Is it the same if you disable GPS?

Am 29. April 2018 01:36:57 MESZ schrieb Pierre Rudloff <notifications@github.com>:

[2018-04-29 07:14] Rudloff commented on #1036
Yes, I tried to completely disable geolocation and it still uses a lot of battery.

[2018-04-29 07:27] mwild1 opened #1037 "UK speed limit quest inaccurate in built up areas"
The speed limit quest explicitly asks the user about signs, however not every road will have a sign. This is especially true in built-up 30mph areas where street lighting is present.

Currently the quest let's you answer 'no sign' but then appears to assume this means national speed limit applies.

Sources:
- https://en.wikipedia.org/wiki/Built-up_area_%28Highway_Code%29
- http://www.speedlimit.or

[2018-04-29 07:39] westnordost commented on #1037
So with what maxspeed:type value is the street supposed to be tagged in the case of such a built-up area?

[2018-04-29 07:39] westnordost commented on #1037
So with what maxspeed:type value is the street supposed to be tagged in the case of such a built-up area?

Am 29. April 2018 09:27:16 MESZ schrieb Matthew Wild <notifications@github.com>:

[2018-04-29 11:54] mwild1 commented on #1037
That's something I'm not 100% clear on (I'm no OSM expert, just trying to contribute casually), which is why I limited my issue to the problems with what the user sees.

[The wiki](https://wiki.openstreetmap.org/wiki/OSM_tags_for_routing/Maxspeed#United_Kingdom) is not exactly clear with "Recommended tagging" listing multiple different incompatible ways of tagging!

There was a long discussion in

[2018-04-29 16:16] rugk commented on #1009
That is too much text and much stuff can be covered in the "panes" shown at certain star levels, as it has been proposed in another "gamification" issue, I think.

[2018-04-29 18:42] westnordost commented on #1036
What is "autres utilisations" if you switch the smartphone to English? Did you try to google for what is behind this item?

[2018-04-29 18:49] westnordost commented on #1037
I read your links. The second link you posted contains the following paragraph (not the sentence in bold):

This sounds like the sections within a built-up area with *"implicit"* speed limits actually *do have* a sign at the very beginning of the road.

[2018-04-29 19:25] rugk commented on #1036
He said:

(and DeepL also translates it to "other applications")

BTW; personally, I've never seen that entry in the Android battery usage – very strange it cannot attribute such a large amount of battery usage to an app.

[2018-04-29 19:27] #996 closed

[2018-04-29 19:46] westnordost commented on #1036
I asked not how it translates but how specifically it is translated in Android - so that one can google for it.

[2018-04-29 22:07] Rudloff commented on #1036
It is called *Miscellaneous* in English. The detailed view contains some explanation:
![screenshot_20180429-235602](https://user-images.githubusercontent.com/840125/39411385-5b647356-4c09-11e8-886a-25b7a4e72e3c.png)

This article also has some useful explanations: https://medium.com/@dotandroid911/what-is-miscellaneous-battery-drain-in-android-how-to-fix-it-d6eb9035e513

[2018-04-29 22:27] westnordost commented on #1037
*2* would be an option, but it seems inconsistent to not tag a `maxspeed:type` on an implicit speed limit within a built-up area in UK but use a completely different tag to infer an implicit speed limit.
After all, the `maxspeed:type` tagging is an invention of the British OSM community.

My concern is additionally, that it might make things more complicated for data consumers who will have to inf

[2018-04-30 03:24] pkoby opened #1038 "Add "rack" to type of bicycle parking quest"
I did some surveying lately, and was annoyed with the "What is the type of this bicycle parking" quest. The choices given seem a little strange. I understand the choice of Stands and Wheelbenders (which I assume tags as =wall_loops), but then Shed, Lockers, and Building are weird choices with few use cases for me.

By far the majority of bicycle parking around here would be tagged as =rack. This t

[2018-04-30 03:46] deerwood opened #1039 "Wrong position when creating a new note"
When creating a new free note (with button bottom left) I always make sure to set the mark at the very exact position, even zooming in as far as possible.

But the marks don't show up in OpenStreetMap at the correct location. They have some offset, annoying other OSM editors.

See examples:

Note north of POI

![notes_offset1](https://user-images.githubusercontent.com/90085/39414498-8b6ddbf8-4c38-

[2018-04-30 04:14] deerwood opened #1040 "Map orientation: to direction of movement"
I tested the compass mode in StreetComplete ... does not work for me at all! Probably because my smartphone case has magnets to close/open it.

As I am using OsmAnd+ all the time for navigation, I know (and love) their "Map orientation: to direction of movement", obviously not influenced by nearby magnets. I believe it works by using GPS positions (with Kalman filter for smoothing).

With that one

[2018-04-30 04:59] rugk commented on #1040
That is basically https://github.com/westnordost/StreetComplete/issues/988, I think.

Just seems you want to make it optional and not the default?

[2018-04-30 06:33] 1ec5 commented on #813
As part of revamping the [Ohio map features guide](https://wiki.openstreetmap.org/wiki/Ohio/Map_features) on the OSM Wiki, I compiled [this flowchart](https://commons.wikimedia.org/wiki/File:Speed_limits_in_Ohio.svg) for determining the implicit, unless-otherwise-posted speed limit of a road in that state. (These are just the main points; the actual legal situation is much more complex.) Having do

[2018-04-30 06:46] matkoniecz commented on #1036
Is it possible that it was happening in area with poor network connection?

I never encountered it, but some people claimed to notice extreme battery consumption with phone attempting to use low quality or missing network connection (constant reconnecting).

It would fit that battery consumption was not attributed directly to Street implemented.

[2018-04-30 06:47] matkoniecz commented on #1038
You are right.

[2018-04-30 06:53] ENT8R commented on #1040
@deerwood Does it work but the map is always spinning around or does nothing happen if you enable the compass mode?

[2018-04-30 06:54] matkoniecz commented on #1038
I have no idea what is this.

Depending is size it is either exact match for to wall_loop (one is unable to attach bicycle frame to it) or exact match to stand (one is able to attach bicycle frame to it, track supports bicycle).

I am less sure here, as this type is not appearing where I live - but I would classify it as a weird stand (it is possible to attach bicycle frame to it that is supported

[2018-04-30 06:55] ENT8R commented on #1039
Do you know the direction which the map was oriented to when you created the note? This could maybe be the pattern...

[2018-04-30 07:08] westnordost commented on #813
Next exercise: put it into context of OSM. After all, the road classification (expressway, freeway,...) is already there, so the flowchart becomes a bit simpler

Am 30. April 2018 08:33:27 MESZ schrieb "Minh Nguyễn" <notifications@github.com>:

[2018-04-30 07:44] westnordost commented on #1039
This would be quite the critical bug. However, I cannot reproduce it. Placing the note works precisely on portrait and landscape mode, and on any map rotation for my phone.

So, I need more information, starting with device and android version, and the things enquired by @matkoniecz

[2018-04-30 08:18] westnordost commented on #1038
Basically, answer "stands" if you can attach your bike frame to it, answer "wheelbenders" if you attach your wheel to it. That is the distinction that matters.

Do you think that the quest should be clearer on this? I.e. I thought that people would understand "stands" as an umbrella term.

[2018-04-30 08:53] westnordost opened #1041 "Crash on downloading MarkCompletedHighwayConstruction quest"
cc @matkoniecz

[code]

[2018-04-30 08:56] Rudloff commented on #1036
I already encountered the behavior you are talking about, but here it happened in a city with a good 4G signal.

I could reproduce the issue several times in the past days, it clearly happens when I'm using StreetComplete, the battery starts draining very fast (almost 1% per minute) and it stops when I kill the app.

[2018-04-30 09:50] westnordost commented on #1036
Also if it is in the background?

Am 30. April 2018 10:56:49 MESZ schrieb Pierre Rudloff <notifications@github.com>:

[2018-04-30 09:52] Rudloff commented on #1036
No, only if the app is in the foreground I think.

[2018-04-30 11:31] pkoby commented on #1038
Interesting. I have always referred to https://wiki.openstreetmap.org/wiki/Key:bicycle_parking for my tagging, and the notable thing about "stands" is that it states on the wiki that you can lock your frame and a wheel to it. With many racks (aside perhaps from the wavy style), it's not easy to lean the frame against it, but you're sort of inserting the front of the bike into the rack. You can loc

[2018-04-30 11:50] matkoniecz commented on #1038
I think that it does not matter whatever individual stands are made from separate metal parts or is it manufactured add one part.

Especially as individual stands may be connected by metal part that is underground - why it should change anything?

Adding "can't say" section titled "bicycle parking is not matching any photo" may be a good idea.

[2018-04-30 12:01] matkoniecz commented on #1041
I will look into it, hopefully today.

I can reproduce it, apparently overpass changed accepted syntax without backward compatibility.

So every single query in this quest will show "crash happened".

I am not sure what is your policy in that cases - but hotfix that simply disables that worst may be a good idea.

I am currently traveling and I will have access to a laptop in about 5 hours. Unfortu

[2018-04-30 13:56] stefangrotz opened #1042 "New Quest: farm shops and food vending machines"
### General
Affected tag(s) to be modified/added:
* [shop=farm](https://wiki.openstreetmap.org/wiki/Tag:shop%3Dfarm)
* [amenity=vending_machine](https://wiki.openstreetmap.org/wiki/DE:Tag:amenity%3Dvending_machine)
** [vending=milk](https://wiki.openstreetmap.org/wiki/Tag:vending%3Dmilk)
** [vending=food](https://wiki.openstreetmap.org/wiki/Tag:vending%3Dfood)
* [name](https://wiki.openstreetmap.o

[2018-04-30 14:10] rugk commented on #1042
"Affected tag(s) to be modified/added:" is for the tags you want to add/change when the quest is solved, _not_ the one where you specify what to select(as you specify that in "Element selection").
Also you did not say what your quest is actually supposed to ask, so I don't know at all what this quest is actually about.

[2018-04-30 14:41] stefangrotz commented on #1042
Hey,

You are right, I didn't think this trough enough.

At least in my regions there a quite a few farms with milk and egg vending machines. When you look at this map from Karlsruhe, the blue markers are vending machines and the green ones are regular farm shops:
https://codeforkarlsruhe.github.io/direktvermarkter/

I get your point. Do you think that it would be better to have a seperate quest f

[2018-04-30 14:50] ENT8R commented on #1042
But I don't really get yours 😄... What should be the question which is asked to the user? And what should be set if the answer is yes and what if the answer is no?

[2018-04-30 15:03] rugk commented on #1042
Whatever the actual question asked is, it may be better when @stefangrotz thinks this over another time, maybe splits it into multiple quests and actually fills out the issue template. There is still so much confusion about what this should ask.

Also remember to [read-through the quest guidelines](https://github.com/westnordost/StreetComplete/wiki/Adding-new-Quests-to-StreetComplete). There, e.g.

[2018-04-30 15:05] stefangrotz commented on #1042
You are right. I will start over in the evening :)

[2018-04-30 15:05] #1042 closed

[2018-04-30 17:08] westnordost commented on #1041
I aim to release an update tomorrow, with a fix for it (and the other reported bugs). If you are not able to finish it until then, you can post your findings or other info here and I will look into it.

Am 30. April 2018 14:01:38 MESZ schrieb Mateusz Konieczny <notifications@github.com>:

[2018-04-30 18:45] westnordost commented on #1038
I was thinking of adding a few words on these two entries:
- wheelbenders (lockable only to wheel)
- stands (lockable to frame)

Would this wording be clear to you? (I am not a native speaker)

[2018-04-30 18:50] westnordost commented on #1039
Also not reproducable with extremely tilted map. I need more information from you, @deerwood

[2018-04-30 22:10] gappleto97 commented on #1041
I only see the error with the building quest enabled, but that may be because there are no construction roads in my area.

[2018-04-30 22:14] gappleto97 commented on #1038
Which would this fall under?

![](https://framapic.org/BQARCXW1gKw1/JYLDuj5Kg6eJ)

Because this is the type I see most often, and its not obviously covered by any of the pictures.

[2018-04-30 22:31] pkoby commented on #1038
That's what I'd call a rack, and it's what I mentioned earlier as "comb" style. Around where I live, it's mostly coathangers, these, and wavy types. Almost no "staple" stands. Some bollard type stands, though.

[2018-04-30 22:34] matkoniecz commented on #1038
wheelbender (AKA =wall_loop), as structure is not supporting bicycle frame and it is not possible to attach bicycle frame to the parking (except in cases of placing it in parallel to the bicycle stand).

[2018-04-30 23:25] deerwood commented on #1039
First 4 tests today: untilted map, fixed to always north, phone in portrait orientation and held almost parallel to ground, phone turned N, S, E and W when positioning marker an pressing OK. All good, position of marker in OSM as set in SC. Will further try to reproduce with tilted map.

Besides, my phone is a cheap Wiko Pulp 3G with Android 5.1, in case that matters.

[2018-05-01 00:01] deerwood commented on #1040
@ENT8R it works essentially, display is rather "nervous", but my driving direction is most often not from bottom of screen to top, as wanted and usefull, but arbitrarily left/right, right/left, backwards (top/down) or any other direction. See the short video I made:

http://tugendbol.de/streetcomplete/Alster-20180430-215134.mp4

Note, that the compass symbol top right points to north correctly; pr

[2018-05-01 07:29] rugk commented on #1040
Exactly the same as I requested I think, now. And AFAIK I did not actually limit it to slow speeds.

I just thought you want it optional as a setting.

[2018-05-01 07:30] PanderMusubi opened #1043 "Add review mode"
As StreetComplete evolves with better functionality and improved instructions, also users evolve as they learn more about how to tag what. When undo is not an option, because you have added a lot in the past that isn't optimal, at the moment you have to edit OSM in another way. For example, one would use the edit function on OSM on a laptop or desktop. What would be beneficial for OSM, is that Str

[2018-05-01 08:27] PanderMusubi commented on #1043
Those created by SC. Created by OSM could be another option. So:
* changes from user:
    * only you
    * only others
    * all users
* changes contributed by:
    * only SC
    * only OSM
    * SC or OSM

[2018-05-01 08:51] westnordost commented on #1043
This feature request is far too vague, I have no idea what you actually envision here.

[2018-05-01 08:53] westnordost commented on #1038
See @matkoniecz

Any comments on my suggestion?

[2018-05-01 08:53] westnordost commented on #1036
I can reproduce it. It seems to be caused by the compass on the upper right corner. Will investigate.

[2018-05-01 09:59] westnordost commented on #1037
By the way, 1 is not an option because of https://github.com/westnordost/StreetComplete/issues/457

[2018-05-01 10:56] westnordost commented on #1043
Hmm, I think with the current tools, this is impossible. I.e. it is not trivial to find such recent changes in a given bbox.

Also, a second, smaller, problem is that the app is not able to translate the tagged tags back into human readable text. (I.e. "maxspeed:type=DE:zone30" to "It is a 30 zone")

[2018-05-01 10:56] #1043 closed

[2018-05-01 11:33] westnordost commented on #1038
Absolutely. One of the reasons why there are no separate options. See also https://github.com/westnordost/StreetComplete/pull/923#issuecomment-370848376

[2018-05-01 11:36] pkoby commented on #1038
Thanks for the discussion. I suppose that takes care of this issue.

[2018-05-01 12:05] rugk commented on #1043
Also AFAIK it would be hard to determine with what editor a change is made. So that filtering is not really possible.

[2018-05-01 12:05] HolgerJeromin commented on #1041
The query feature on osm.org is not working, too
I am on mobile, so i can not debug

Perhaps it is an bug in overpass

[2018-05-01 13:00] PanderMusubi commented on #1043
Ah, it is not in the changeset that SC was the origin?

[2018-05-01 13:04] westnordost commented on #1038
I did not change anything yet!

[2018-05-01 13:29] pkoby commented on #1038
Whoops! Sorry.

On Tue, May 1, 2018, 09:04 Tobias Zwick <notifications@github.com> wrote:

[2018-05-01 14:01] westnordost commented on #1041
So, shall I take a look?

[2018-05-01 14:13] ENT8R commented on #1043
Actually the name of the editor is stored in every changeset (otherwise statistics like https://wiki.openstreetmap.org/wiki/Editor_usage_stats#Tables_and_figures would be impossible), but there is currently no possibility to get recent edits filtered by the used editor via the Overpass API (see also https://github.com/drolbr/Overpass-API/issues/189)

[2018-05-01 15:08] westnordost commented on #1036
It looks like looking for the compass was a red herring.

It is true that while the map is shown, even if not moved, rotated etc, 10% CPU is used continuously (as opposed to i.e. 0% when in the settings screen), so I guess this could be the reason for the battery drain. However, even if the compass is never updated, it changes nothing.

[2018-05-01 15:14] mmd-osm commented on #1041
The issue is probably in this line:

https://github.com/westnordost/StreetComplete/blob/9a09d9519c6ee56cc7dc04d0cbaa2cb6d88dd3fe/app/src/main/java/de/westnordost/streetcomplete/quests/construction/MarkCompletedConstruction.java#L61

It needs to be changed to:

`.construction_with_unknown_state; - .recently_edited_construction;`

(two semicolons added)

[2018-05-01 15:15] westnordost commented on #1036
It looks like most of the CPU time is spent in a GL thread, I guess the tangram-ES GL thread, more specifically, in the function `eglSwapBuffers`.

![profiler](https://user-images.githubusercontent.com/4661658/39478571-207e0350-4d63-11e8-90a6-02111fd7e264.png)

I checked if the existance of shader code in the map style may be the culprit. It is not.

I think I will ask in the tangram-es bugtracker

[2018-05-01 15:30] westnordost commented on #1036
https://github.com/tangrams/tangram-es/issues/1800

[2018-05-01 16:04] westnordost commented on #1041
That was it, thank you @mmd-osm ! It works now with this fix.

By the way, for your information, the full query looks like this
[code]

I also checked for the other quests if they may have the same problem, but all others are fine.

[2018-05-01 16:06] #1041 closed

[2018-05-01 16:30] deerwood commented on #1040
Just let's have 3 map orientations (as in OsmAnd):
- do not rotate (north always up)
- to compass
- to direction of movement (GPS based)

That way the user can choose what works best for him.

[2018-05-01 16:32] westnordost commented on #1038
So, would look like this then:

![device-2018-05-01-183223](https://user-images.githubusercontent.com/4661658/39482106-06ca3f40-4d6e-11e8-89f6-c7565f02d749.png)

[2018-05-01 16:50] ENT8R commented on #1040
So you want this to be calculated? I think this is too complicated and pretty difficult for low speeds like walking...

[2018-05-01 17:33] gappleto97 commented on #1038
Really, I would just settle for having additional pictures, even if they just map back to "stand". Visuals are going to be far more explanatory than words.

Maybe borrow the road surface UI for this?

[2018-05-01 17:38] westnordost commented on #1038
but these would be a whole lot of pictures then

[2018-05-01 18:25] westnordost commented on #1039
Perhaps this came together like this?:

[http://www.westnordost.de/misc/screenrotate_shifts_note.mp4](http://www.westnordost.de/misc/screenrotate_shifts_note.mp4)

You first placed the note, then rotated the screen to have a larger input field and on finishing it you did not notice that the note shifted on screen rotate (because the keyboard covered it)

[2018-05-01 18:31] #1036 closed

[2018-05-01 18:31] westnordost commented on #1036
fixed

[2018-05-01 18:32] Rudloff commented on #1036
Thanks a lot for investigating this!

[2018-05-01 18:48] ENT8R commented on #1036
In https://github.com/westnordost/StreetComplete/issues/1041#issuecomment-385463857 @westnordost said that he wanted to release an update today/tomorrow

[2018-05-01 19:36] gappleto97 opened #1044 "Internet access: change from radio buttons to checklist"
That quest currently breaks for places like public libraries, which often offer both WiFi and computers with internet access. There should either be combination options, or the buttons should be changed to a validated checklist.

[2018-05-01 20:27] westnordost commented on #1044
It cannot be tagged any other way. Please refer to the original PR/discussion about internet access and the OSM wiki.

[2018-05-01 20:27] #1044 closed

[2018-05-01 22:54] westnordost commented on #1039
I implemented now that a press on "OK" first closes the keyboard if it is still open, then another click on "OK" will save the note.

[2018-05-01 23:25] goldfndr commented on #1038
To me, a "stand" is limited to 2 bicycles, and a "rack" can handle 4 or more; a rack has at least three vertical bits (when viewed relative to the direction bicycles are to be parked in) while a stand has 1 or 2 (depending on angle) (and bollard has 1).

Regarding @gappleto97's "comb", I'd tag that as "wall_loops" if a tire can't fit through a slot and "rack" if a tire does fit through.

I spot-ch

[2018-05-01 23:33] goldfndr commented on #1039
I suggest changing the word "Ok" to "Save" when the keyboard is collapsed.

[2018-05-01 23:38] goldfndr commented on #1039
Er, collapsed and the field isn't zero-length.

[2018-05-02 01:15] deerwood commented on #1040
@ENT8R yes, I want it to be calculatet. And I don't think it is too complicated, Googling for "calculate direction between two coordinates" gives plenty of results e.g. https://www.movable-type.co.uk/scripts/latlong.html#bearing.

And in OsmAnd it works reliably, see the video I recorded below.

![osmand-path](https://user-images.githubusercontent.com/90085/39500413-8e872db2-4db4-11e8-9755-0acf795

[2018-05-02 01:37] deerwood commented on #1039
Closing the keyboard and thus showing the marker again is a good idea. However I'm pretty sure to have closed the keyboard manually always. And I never use landscape mode (only accidently). Usually the phone is on my bikes handlebar in portrait mode ~30° tilt, when entering longer text, I remove it and hold it ~45° tilt. I most often have the map tilted and manually turned into driving direction,

[2018-05-02 05:01] rugk commented on #1038
Just as a side note, I would also leave out the "=" in the brackets. That is just redundant.

[2018-05-02 05:14] rugk commented on #1040
That looks great. As such, that thing would be a great feature for StreetComplete.
And maybe one would anyway only enable it for higher moving speeds. If you want to suggest that, one could also name the setting "driving mode" or so.

And to get to that neodym magnet thing again: You always carry some with yourself? So that is your actual problem there?😁
Btw as you can see from my other issue, thi

[2018-05-02 11:26] westnordost commented on #1040
Whoever is interested is free to experiment around with adding an option to switch to direction-of-movement mode. I am not sure if it can work out on low speeds and unstable GPS signal (the signal from the video is very stable).

[2018-05-02 16:58] westnordost commented on #1037
So I posted to the mailing list, one reply was especially helpful: Someone extensively researched the legislative situation in the UK and wrote it down here: https://wiki.openstreetmap.org/wiki/User:Jamicu/UK_Speed_Limits

The quest will now ask after the user confirmed that there is no sign whether the street is lit or not. If it is lit, `maxspeed:type=nsl_restricted` will be tagged. If not, it w

[2018-05-02 17:07] #1037 closed

[2018-05-03 02:53] deerwood commented on #1040
I'm not an app developer, but a *user* of SC. Thus it would be hard for me to help implementing this feature (I work with databeses, SQL, PHP, Perl etc). So I ask for help.

@rugk yes, the magnets are always with me; in my phones case;
![magnet1](https://user-images.githubusercontent.com/90085/39558179-b8f1c606-4e8c-11e8-89d6-a81a64be9e44.jpg)
![magnet2](https://user-images.githubusercontent.com/9

[2018-05-03 03:09] deerwood commented on #1039
I tested again several times, now with tilted and rotated map and after ~1-3 hours usage of SC. No problem at all aka I can't reproduce.

So I'm sorry to have bothered you with a false alarm.

[2018-05-03 03:09] #1039 closed

[2018-05-03 13:00] pkoby opened #1045 "Compass breaks through screen overlay after update v5.1"
I'm running the Twilight Android app, which creates an overlay on the screen to red-shift the display.

After the update to 5.1, which I saw had some work done on the compass to help with battery issues, I'm noticing that the compass icon jumps above the overlay layer (e.g. it is not red-shifted). I tried to take a screenshot, but something about that function prevented me from getting the bug in

[2018-05-03 20:48] bbastin opened #1046 "Opening hours for disused shop"
It seems like the quest for opening hours (maybe also other ones) is ignoring the disused tag for shops.

Example: https://www.openstreetmap.org/note/1381967#map=18/50.73701/7.10388

[2018-05-03 22:07] westnordost commented on #1046
Hmm, shouldn't it be `shop=vacant` then? I thought `disused` is for railways and stuff like that.

[2018-05-03 22:42] bbastin commented on #1046
I wasn't sure so I did the research. According to the wiki:

It seems that vacant is an alternative, though the wiki states that some mappers advice against it. [2](https://wiki.openstreetmap.org/wiki/Tag:shop%3Dvacant)

So I guess the best way right now would be to support both alternatives, though I tend towards disused as it seems more versatile and widespread.

This probably should also apply

[2018-05-04 02:04] dbdean opened #1047 "Version 5.1 is unusable and laggy on Nexus 5x"
Since the new 5.1 update, the app has been unusable and very slow at doing anything on Nexus 5x. Android keeps coming up and asking me if I wan't to close StreetComplete as it is non responsive.

[2018-05-04 09:25] westnordost commented on #1045
Generally, this is a problem of the Twilight Android app, not of StreetComplete. I bet they have dozens of bug reports like this in their bugtracker, perhaps you could look there what causes this behavior. I suppose it is caused by the opaque draw mode of the surface view.

[2018-05-04 09:54] goldfndr opened #1048 "5.1 crashes with no data (new install)"
While trying to troubleshoot another issue (#975 not solved by #1024 as of versions 5.0 and 5.1; screenshot available upon request), I decided to clear data (after moving the /data/data/… directory so it wouldn't be found). 5.1 crashes with the following log (via CatLog using "street" filter; I can reproduce if something was missed by the filter).

[code]

I uninstalled 5.1 and installed 5.0 from

[2018-05-04 10:01] westnordost commented on #1048
I think this might have happened because you first had the version signed by F-Droid and then the version signed by me. What if you install the 5.1 from F-Droid?

On 4 May 2018 11:54:14 CEST, Richard Finegold <notifications@github.com> wrote:

[2018-05-04 11:34] pkoby commented on #1045
Okay, that makes sense. I'm having trouble finding any bug reports page online, but it does seem to have similar problems now and then.

It's not app-breaking, anyway.

[2018-05-04 12:38] pkoby commented on #1038
Looks good. After this discussion, I kind of think that the whole bicycle_parking=* should be amended, but that's a whole other issue. I think making almost all cases =stands or =wall_loops is not a bad idea. I don't like how =wall_loops lumps together a lot of things that have nothing to do with a wall, though. Perhaps =wheelbenders would be best, but that would deprecate a lot of points....

[2018-05-04 14:03] rugk commented on #1045
BTW recent Android versions (or maybe only LineageOS versions) have such a filter built-in. And AFAIK the issue there does not happen.

[2018-05-04 14:04] rugk commented on #1048
Actually it should not be possible to install the app like that then.

[2018-05-04 15:13] matkoniecz commented on #1038
It is the same problem as highway=unclassified - it is probably too late to change it.

[2018-05-05 01:50] deerwood commented on #1047
I had the same issue ("StreetComplete reagiert nicht, Schließen oder Warten?") after installing the new 5.1 version. A reboot of my phone solved the problem.

[2018-05-05 01:54] Yasujizr opened #1049 "New Design"
![streetcomplate](https://user-images.githubusercontent.com/36993664/39658651-4cb95234-5020-11e8-9cd8-150d01081258.jpg)

Hi @westnordost,

I have studied your work and I think a new design will make you more visible. I designed for you, I hope you like it and you want to use it. If you want to reach me, you can look at the my profile. I can give you all the formats of the design free. If you want

[2018-05-05 07:06] ENT8R commented on #1049
In what sense? Do you propose this to be the new app icon? To be honest, IMO the old icon is much more simpler and looks pretty good, so why do we need a new one?

[2018-05-05 07:14] yotamN commented on #639
@rugk It's pretty easy to identify a kosher restaurant, here is an example for a kosher McDonalds:
![img_20171019_155203b](https://user-images.githubusercontent.com/5249239/39660678-df4eefc4-504c-11e8-9669-1a1c2e37aa7c.jpg)

[2018-05-05 07:15] matkoniecz commented on #1049
What is proposed in this issue?

[2018-05-05 07:15] ENT8R commented on #639
As already said earlier: this really depends on the country... I've never seen something like this in a country like Germany or the US...

[2018-05-05 09:14] Yasujizr commented on #1049
This issue suggests a new logo for you. I aimed to draw more attention among other applications. If you think you have not added anything to your previous logo, you can refuse.

[2018-05-05 09:29] ENT8R commented on #1049
Which other applications do you have in mind? AFAIK the icon StreetComplete uses is unique and not used by any other application...

[2018-05-05 09:46] Yasujizr commented on #1049
Apps in the same category as yours. If your logo is too simple, this program may show poor quality. Do not get it wrong, the program is very good but it is visually important in marketing.

[2018-05-05 09:59] matkoniecz commented on #1049
For example?

Fortunately, SC is not suffering from this problem.

[2018-05-05 10:04] matkoniecz commented on #639
@ENT8R  It is also extremely rare in Poland, Slovakia, Ukraine and many other countries.

@yotamN Is sign like that (kosher/not kosher) appearing on every single fast food/restaurant?

Also, is it in the Israel or in other region?

[2018-05-05 10:15] Yasujizr commented on #1049
I see that as an outsider. If you like, you can do a survey so that the end user is a focused logo. I do not want to change your idea, it's just a suggestion. you can look at the applications in the same category as yours. You can even look at the results of "street complete".

[2018-05-05 10:18] dbdean commented on #1047
Mine has continued being laggy and slow through a reboot, as well as completely wiping the app storage. I don't have Android Studio running at the moment, but I have submitted some reports through the android reporting thing that might contain some details on where it is lagging.

[2018-05-05 10:35] ENT8R commented on #1049
Well, Google Play shows only some racing games besides this app 😄:
<img src="https://user-images.githubusercontent.com/25306497/39662345-6d6c61b6-5060-11e8-815e-22fb9217ef65.PNG" width="500px">

And searching for [street complete](https://staging.f-droid.org/search?q=street+complete) on F-Droid results only in this app and OsmAnd...

Maybe we should just hear @westnordost's opinion on this?!

[2018-05-05 10:48] Yasujizr commented on #1049
I do not understand why you're so angry and prejudiced, it's just a suggestion.

Android Phone Search "Street Complete"
![screenshot_2018-05-05-13-42-33](https://user-images.githubusercontent.com/36993664/39662503-c5c2fd20-506a-11e8-91a4-8a5f0f4df252.jpg)

Category Search
![screenshot_2018-05-05-13-43-38](https://user-images.githubusercontent.com/36993664/39662510-f0e2abfe-506a-11e8-9f13-2da3b23e3

[2018-05-05 11:00] exploide commented on #1049
While I'm a bit reluctant regarding the lettering with the yellow bar, I thing the logo looks really nice! However, I'm also not convinced that the current one needs to be replaced but that's for others to decide anyway. Just want to say thanks to @Yasujizr and compliment on the logo design.

But the actual reason I answer: Independent from this issue, maybe if @Yasujizr likes to support SC with h

[2018-05-05 11:03] rugk commented on #1049
That's a Google Play search? If yo, it likely is just some strange personalisation of Google to not show you the results.
Or, likely, it filters by country. (E.g. DuckDuckGo only shows the – English – wiki site of StreetComplete [as a top result](https://duckduckgo.com/?q=street+complete).

Also with a new icon, you cannot influence how Google sorts/searches stuff. It likely also considers the use

[2018-05-05 11:03] axre commented on #1049
Thanks @Yasujizr for the design work done.

However i also dont understand why this icon is better than the actual one. Dont get me wrong - this is a good designed icon. But the current icon does "the job" well, and has fitting colors.

[2018-05-05 11:30] Yasujizr commented on #1049
Thank u all feedback, the previous logo was simple and I wanted to make improvements.

I will look at the details. you can close or delete this issue.

:)

[2018-05-05 12:35] westnordost opened #1050 "Crash on opening Settings"
Got this crash report:

Pressed the "settings" button that is located in the three bullet button in the upper right corner of the application. The error is 100% reproducible on a LG G4 (H815 specifically)

[code]

[2018-05-05 12:37] westnordost commented on #1048
Yeah, it shouldn't. I am really quite in the dark about this. The error is that it cannot open the database - no rights? I is this even possible?

[2018-05-05 12:42] westnordost commented on #1047
Oh yeah, I got quite a few ANR reports.

[code]

[2018-05-05 12:43] westnordost commented on #1038
What's wrong with `highway=unclassified`?

[2018-05-05 12:47] westnordost commented on #1045
I had another look on what I changed from 5.0 to 5.1 on the CompassView. What I changed was that it only re-renders when the rotation actually changed (and not every frame). While this is probably quite a tiny performance improvement, I do not see how this should effect whether an overlay can be drawn on top of the view or not. I will close this as Will Not Fix.

[2018-05-05 12:47] #1045 closed

[2018-05-05 13:00] westnordost commented on #1049
Hi @Yasujizr, thank you for your design! I kind of like this icon, it is inspiring.
But I prefer to keep the current icon, actually. Just in my personal not professional opinion, I think the icon is a bit much - an icon (street sign) within a circle within another icon.

I have long been planning of some visual redesigning of the app, when I come around to finally realize it, I might come back to

[2018-05-05 13:01] #1049 closed

[2018-05-05 14:13] RubenKelevra commented on #1013
@ENT8R what about splitting this into two categories? A standard and an extended bicycle quest, with the extended disabled by default without this restriction. I don't see an issue with adding more definitive answers to the database, stating that this residential road has no bicycle lane. But I understand that those quests might cause many additionally "clicks" for users in the wrong areas.

[2018-05-05 14:27] goldfndr commented on #1048
What I've found is that by renaming the /data/data directory and trying to run the program, even if I delete the directory I renamed and the /data/app-lib directory, the app crashes, but If I then do an uninstall and new install, the app works fine. So I'm thinking it was a permissions issue of my own creation. So I'm closing this issue.

[2018-05-05 14:27] #1048 closed

[2018-05-05 14:36] RubenKelevra opened #1051 "data privacy statement needs an update"
Since the Mapzen service was shut down (https://github.com/westnordost/StreetComplete/issues/747), we needed a new tile service, but the data privacy statement (German locale) still mention and link the Mapzen web service.

[2018-05-05 14:45] ENT8R commented on #1051
@westnordost wanted to change this later... See the comments on this comment: 25baa93d8cc1e4f71d9672ca60da07c442f366b0

[2018-05-05 14:46] ENT8R commented on #1051
The same was asked here: https://github.com/westnordost/StreetComplete/issues/747#issuecomment-366469410

[2018-05-05 14:51] RubenKelevra commented on #1051
Oh, well. Haven't seen those things. I was just trying to replicate the crash of the settings in my device and stumbled across this. :)

[2018-05-05 14:53] rugk commented on #1051
Yes, but good to a have a proper issue for that…

[2018-05-06 01:16] westnordost commented on #1038
I always assumed that it meant that it is a road that is not officially classified.

[2018-05-06 07:38] matkoniecz commented on #1038
From quick look ( http://overpass-turbo.eu/s/yyy ) it appears that there are highway=unclassified with ref tag in UK, but I am not sure is it a tagging mistake or examples that this rule is not true.

From looking at https://wiki.openstreetmap.org/wiki/Tag:highway%3Dunclassified it seems that there is no reason to assume that highway=unclassified has no ref tag.

Also, there is no good reason to c

[2018-05-06 11:14] westnordost commented on #1047
(And thread 15 is the GL thread in this case)

Apparently, this occurs only on Android 8 (and perhaps Android 7).

[2018-05-06 12:50] dbdean commented on #1047
I'm Android 8.1, myself. It isn't laggy when I'm moving the map around inside, but gets laggy when I go outside and attempt the same thing, so it might have something to do with GPS.

[2018-05-06 13:16] padan commented on #1047
Experienced this lag too, with StreetComplete 5.1 on Android 5.1 and only with GPS enabled. Downgrading to StreetComplete 5.0 or upgrading to StreetComplete 6.0-beta1 provided by @westnordost works for me. Looking forward to an official update.

[2018-05-06 13:20] Haikuch opened #1052 "unsolved quests, buildings without number"
What about quests that can't be solved in the programmed way? For example there is this house (https://www.openstreetmap.org/way/103360633) that actually does not have a house number. Its also stated so on its homepage http://haus1-berlin.de/ (_Waterloo Ufer **o.Nr.** (Nähe U1/ Hallesches Tor) 10961 Berlin_).

I can of course just remove the quest on my device with "cant say", but because it is no

[2018-05-06 13:28] padan commented on #1046
Yes, I am using the disused: lifecycle tag for temporarily closed restaurants too, another example with disused:amenity:

https://www.openstreetmap.org/node/3665738131

This one already has opening_hours attached, so StreetComplete doesn't ask.

[2018-05-06 13:50] #1047 closed

[2018-05-06 13:51] westnordost commented on #1047
Testing the fix, now on master, would be highly appreciated. (It is yet different from what I sent @padan)

[2018-05-06 14:00] westnordost commented on #1046
Hmm, actually, I looked at taginfo, taginfo just lists 210 elements worldwide with `shop=disused` (as opposed to 14882 for `shop=vacant`).

`disused:shop=*` is something else because it does not use `shop` as the key.

[2018-05-06 14:01] matkoniecz commented on #1052
In such cases the standard solution is to make query smarter like it was done to solve #806 #915 #868

[2018-05-06 14:02] westnordost commented on #1052
Although this issue is written more concise and to the point, it is a duplicate of #351.
Will be implemented, but only after the building quest has been implemented.

[2018-05-06 14:02] #1052 closed

[2018-05-06 14:04] matkoniecz commented on #1052
Query currently excludes buildings with addr:housename, this building has name

https://github.com/westnordost/StreetComplete/blob/master/app/src/main/java/de/westnordost/streetcomplete/quests/housenumber/AddHousenumber.java#L37

https://www.openstreetmap.org/way/103360633

Maybe

1) this building should be tagged with addr:housename?

2) buildings with name tags also should be excluded from addre

[2018-05-06 14:07] matkoniecz commented on #1046
From looking at https://www.openstreetmap.org/note/1381967#map=18/50.73701/7.10388 and https://www.openstreetmap.org/node/1319475752/history it seems that opening hours query matched disused:shop=florist or solved quest that was downloaded over 5 moths age.

https://www.openstreetmap.org/node/1319475752/history was never tagged shop=disused

[2018-05-06 14:10] padan commented on #1046
Both examples (from the submitter and mine) are about prefixed disused:shop=* key, not about shop=*. Will StreetComplete display quests for key "disused:shop", or for key "shop"? If quests are displayed for shop=* and amenity=* only, but not for disused:shop=* and not for disused:amenity=* this rather like looks a missing feature (adding disused: lifecycle prefix to unused entities where quests ca

[2018-05-06 14:16] westnordost commented on #1047
https://www.westnordost.de/misc/app-debug1.apk

[2018-05-06 14:25] westnordost commented on #1046
Hmm, actually, if @bbastin would have attempted to answer the question with something, his answer would have been dropped due to that
1. a version conflict arises on upload
2. on automatically resolving the conflict, the app notices that the quest does not apply to the element anymore (since there is no `shop` key)

Leaving notes is independent of that. I **could** implement that on leaving a note

[2018-05-06 14:37] westnordost commented on #1047
@padan tested it on his phone, looks good.

[2018-05-06 14:49] matkoniecz commented on #1046
Maybe drop note if both

- conflict appears
- quest was based on data downloaded long time ago (over 1 month?)

notes about data changed months ago are confusing and are less likely to be useful

[2018-05-06 14:58] westnordost commented on #1052
I think `name` is correct.

Hmm, in my opinion, not. Names might be i.e. (translated from German)
- Water Police School
- Criminal Court of the State of Hamburg
- Overseas Contor
- Victoria Barracks

All of these have actual house numbers. Especially for the case that there is a certain amenity in a building (only), it will definitely have a name. "House names" as addresses are a thing mostly on t

[2018-05-06 15:00] westnordost commented on #1046
Then maybe it would be better to instead automatically drop quests (not just invalidate) that were downloaded more that X months ago (even solved ones?).
There might even be a ticket for that here somewhere.

[2018-05-06 15:15] matkoniecz commented on #1046
In #766 I proposed to silently delete quests older than 1 month.

[2018-05-06 15:16] westnordost commented on #1046
Jo, that's it. So I will close this issue because this here would be not or very much less of an issue if #766 was implemented.

[2018-05-06 15:16] #1046 closed

[2018-05-06 18:37] pkoby commented on #1038
I agree that highway=unclassified sounds like it should be put into some category later when further info is known. But around where I live, there isn't any official classification for really any roads. Highway=residential is not designated as such by any governmental authority, it's simply a class based on what the area around is like, speed limit, and such. For my area, it seems like highway=unc

[2018-05-06 23:00] dbdean commented on #1047
Looks good for me to.

[2018-05-07 06:58] gappleto97 commented on #1041
So after the 5.1 update, I dont see any quests that actually show up for these, despite there being a half dozen buildings under construction tagged as such. [Example](14
Elder Drive
Location: geo:46.559605,-87.41665?z=19
https://osmand.net/go?lat=46.559605&lon=-87.41665&z=19)

[2018-05-07 09:58] Haikuch commented on #748
I don't know how exactly the quest code ist structured, but it could be helpful when each quest would provide a history version (just a class method) of itself. The question and answer could be shortened for example for that case.

[2018-05-07 10:05] rugk commented on #748
Yeah, maybe a kind of "name"? Just as the directories and classes in the code for each quest also have a name, one may determinate a similar name for the quests.

[2018-05-07 10:10] Haikuch opened #1053 "More answers for not-a-housenumber"
Regularly when I want to add housenumbers to buildings, I encounter the problem that the building should not get a housenumber because its a building=garage, a building=shed or building=allotment_house or whatever.

In a lot of cases, these buildings are just tagged as building=yes because it can't be identified by satellite images good enough. Solving housenumber quests, discloses these buildings

[2018-05-07 11:31] Haikuch opened #1054 "renaming autosync ?"
In the settings one can activate Auto-Sync, is this the right description for the setting? Is there more than just auto-upload when activating this?

Anyway, I would love to have a more detailed description here for the users what it means to set this option.

[2018-05-07 15:04] matkoniecz commented on #1041
@gappleto97 Please, link using rather https://www.openstreetmap.org/#map=19/46.55960/-87.41665 (it is easier to enable data layer and at least map on OsmAnd website is broken)

[2018-05-07 15:18] matkoniecz commented on #1041
Or even better - can you link a specific object like https://www.openstreetmap.org/way/525479646#map=19/46.55961/-87.41652 ? I looked quickly and nothing was building=construction.

[2018-05-07 15:42] ENT8R commented on #1041
But this one is:
https://www.openstreetmap.org/way/525479657

[2018-05-07 15:59] matkoniecz commented on #1041
I just tested, this quest appears for me

Are you sure that you have building construction quest enabled and that you never selected "hide this quest" for this building?

Can you try moving building construction quest to top in quest priority in settings and scan for more quests?

[2018-05-07 16:14] gappleto97 commented on #1041
Gah. I moved it to the top priority and it showed up, even though there were no quests around it which should have hidden it. I am confused, but it works.

[2018-05-07 17:59] #1053 closed

[2018-05-07 18:56] cyclingcat commented on #965
I want to support this suggestion! I often use SC while riding one of my bikes, so I zoom out a little bit in order to find interesting places with many quests. I leave the map zoomed out for a better overview and it's a little annoying having to restore "my" zoom level after each and every quest manually.

So I would vote +1 for this suggestion, a least as an option in the settings (perhaps leavi

[2018-05-07 19:51] HolgerJeromin commented on #1038
"unclassified" is the official name of this type of road in the uk. The first mappers lived there so it seemed natural to use uk road class names.
But too late to change :-)

[2018-05-07 22:28] rugk commented on #965
BTW you can (alos) just upvote the top-most "comment" (i.e. the actual issue) at the top. There is a :+1: for this exact thing.

[2018-05-08 13:46] pkoby commented on #277
I would agree with Holger. I have been trying to understand this quest with the building levels quest. As it is presented with the image in the levels quest, roof:levels would refer only to stories/floors internal to the roof, probably with windows.

However, in my area, many buildings have a non-flat roof that I would not count as a storey, but should not be discounted.

One thought I had would b

[2018-05-08 14:12] westnordost commented on #277
I know very well that buildings that have 0 roof levels can still have a non-flat roof shape, that it is correct tagging. Likewise, there may be trunk roads that do have another surface than asphalt, residential 20km/h roads that have cycle lanes, unpaved streets that have street-lighting etc.

However, there are many countries, where the default roof shape is flat. In fact, so default that basica

[2018-05-08 14:44] Mannshoch commented on #1001
Seems resolved.

[2018-05-08 14:44] #1001 closed

[2018-05-08 14:52] Mannshoch commented on #633
**Mockup:**
![2018-05-08 16_46_50-clipboard](https://user-images.githubusercontent.com/7795891/39764585-38668956-52e0-11e8-8c5a-1ceda8fde563.png)

[2018-05-08 17:28] westnordost opened #1055 "Crash on MarkCompletedHighwayConstruction (Round 2)"
Got this crash report.

Device: samsung on5xfltechn, Android 6.0.1
[code]

[2018-05-08 17:32] westnordost commented on #1055
cc @matkoniecz

The overpass error message says that the date must be in **exactly** this format: `yyyy-mm-ddThh:mm:ssZ`
In the Java code, it looks like the date is in the form `yyyy-MM-ddThh:mm:ssZ`

Not sure if the `MM` vs `mm` makes a difference? Which of the two, if not both, is correct ISO8601?

[2018-05-08 17:38] westnordost commented on #1050
The mystery is solved.

[2018-05-08 17:38] #1050 closed

[2018-05-08 20:13] Haikuch commented on #1054
ok I see, its more than just uploading the quest results. But is there any documentation or explanation like you have given here? How can users know, what the switches actually cause?

[2018-05-08 20:21] Haikuch opened #1056 "Option to add pictures not only photos"
Currently there is the possibility to take photos and contribute them via a note. But it would make sense, to allow uploading any imagefiles, because one might have already taken photos earlier.

Moreover, I am interested if the metadata is removed from the pictures before uploading them? Just as a privacy concern.

[2018-05-08 20:36] rugk commented on #1054
A place for that could be the FAQ, but I think that is "too far away". Better add a small helper text to the option or so, which explains that.

[2018-05-08 20:37] rugk commented on #1056
As for the location that should hardly matter in our use case. And phone model well… mhh…

[2018-05-08 22:52] pkoby commented on #277
That's fair. I guess it would be really nice for my area to have the quest, but I understand if it's not something SC will have. It's a bit annoying to have roof:shape for some houses in a neighborhood (because some houses have roof:levels=>0) and have to resurvey, but I get that this app cannot have everything and still be simple for every user.

[2018-05-09 00:31] westnordost commented on #1056
As far as I remember, all metadata is stripped.